dist
docs
node_modules
server
testcases
coverage

app/__tests__
app/public
app/src/api
app/src/app
app/src/assetStatistics
app/src/authentication
app/src/common
app/src/components
app/src/controlStrategy
app/src/data
app/src/deviceMaintenance
app/src/deviceMonitor
app/src/domainManage
app/src/domainMapPreview
app/src/intl
app/src/lightControl
app/src/lightList
app/src/lightManage
app/src/login
app/src/mediaPublish
app/src/mediaPublishManage
app/src/permissionManage
app/src/reporterManage/old
app/src/reporterManage/container/device/power.js
app/src/root
app/src/routes
app/src/serviceMonitoring
app/src/smartLightControl
app/src/smartLightControl
app/src/smartLightList
app/src/smartLightManage
app/src/store
app/src/systemConfig
app/src/systemOperation
app/src/templates
app/src/util

ddl.config.js
gulpfile.js
postcss.config.js
webpack.app.config.js
webpack.config.js
webpack.server.config.js
