<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/micon_nb/css/micon_nb.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link href="/styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/assetmanage.css">
    <style>
        #root {
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="root"></div>
</body>

</html>