<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css" >
    <link rel="stylesheet" href="/styles/starriver-icon.css" >
    <!--<link href="/styles/font-awesome.min.css" rel="stylesheet">-->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/d3.min.js"></script>
    <script src="/js/d3-tip.js"></script>
    <script src="/js/jsmpg.js"></script>
    <style>
        #root { height: 100%; }
        .svgOnload{height:0px;width:0px;position:absolute;}
    </style>
</head>

<body>
    <div id="root"></div>

    <script src="/leaflet/leaflet.js"></script>
    <script src="/leaflet/leaflet.draw.js"></script>
    <script src="/leaflet/leaflet.label.js"></script>
    <script src="/leaflet/leaflet.awesome-markers.js"></script>
    <script src="/leaflet/leaflet.markercluster.js"></script>
    <script src="/leaflet/leaflet.ChineseTmsProviders.js"></script>
    <script src="/leaflet/leaflet.baidu.js"></script>
    <script src="/leaflet/leaflet.bing.js"></script>
    <script src="/leaflet/leaflet.esri.js"></script>
    <script src="/js/xlsx.full.min.js"></script>

    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="/leaflet/leaflet.label.css">
    <link rel="stylesheet" href="/leaflet/leaflet.draw.css">
    <link rel="stylesheet" href="/leaflet/leaflet.font-awesome.css">
    <link rel="stylesheet" href="/leaflet/MarkerCluster.Default.css">
    <link rel="stylesheet" href="/leaflet/MarkerCluster.css">
    <link rel="stylesheet" href="/leaflet/leaflet.awesome-markers.css">
    <script type="text/javascript" src="/lib/lib.js?9655ca90ee65136fa3e1"></script>
</body>

</html>