/**
 * create by Azrael on 2017/7/4
 */
@card-radius: 9px;
@header-height: 60px;
@min-width: 1144px;
@bg-color: #f2f2f2;

.app {
    a {
        text-decoration: none!important;
    }
}

/******** icon style *************/
.app {
    height:100%;
    min-width: @min-width;
    background-color: @bg-color;

    .icon-orig(@image) {
        background-image: @image;
        background-size: 100% 100%;
        // margin-top: 1px;
    }

    .icon{
        &.icon-asset {
            .icon-orig(url(/images/icon_asset.png));
        }
        &.icon-visual {
            .icon-orig(url(/images/icon_visual.png));
        }
        &.icon-permission {
            .icon-orig(url(/images/icon_permission.png));
        }
        &.icon-report {
            .icon-orig(url(/images/icon_report.png));
        }
        &.icon-control {
            .icon-orig(url(/images/icon_control.png));
        }
        &.icon-maintenance {
            .icon-orig(url(/images/icon_maintenance.png));
        }
        &.icon-publish {
            .icon-orig(url(/images/icon_publish.png));
        }
        &.icon-domain {
            .icon-orig(url(/images/icon_domain.png));
        }
        &.icon-logo {
            .icon-orig(url(/images/logo.png));
        }
    }

    /***************** card common style ***************/
    .card {
        width: 17em;
        font-size: 14px;
        box-shadow: 0 0 10px 1px rgba(61, 61, 61, .2);
        border-radius: @card-radius;
        > .ico {
            padding: 2.3em 5em;
            background-color: #fff;
            border-top-left-radius: @card-radius;
            border-top-right-radius: @card-radius;
            > span {
                display: inline-block;
                width: 7em;
                height: 7em;
            }
        }

        > .title {
            font-size: 2em;
            height: 2em;
            line-height: 2em;
            text-align: center;
            border-bottom-left-radius: @card-radius;
            border-bottom-right-radius: @card-radius;
            color: #fff;
            padding: 0;
        }
    }

    .card-color-fill(@colorLeft, @colorRight) {
        > .title {
            background: -webkit-gradient(linear, left 0, right 0, from(@colorLeft), to(@colorRight));   /*  for safari */
            background-image: linear-gradient(to right, @colorLeft, @colorRight);
        }
    }
    /*************** card unique style ***************/
    .card-asset,
    .card-permission {
        .card-color-fill(#00beff, #00d8ff);
    }

    .card-control,
    .card-maintenance {
        .card-color-fill(#ff5c68, #ff7f7f);
    }

    .card-report,
    .card-visual,
    .card-publish,
    .card-domain {
        .card-color-fill(#2c2f54, #4a5064);
    }

    /************************* page style**************************/
    > .header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        height: @header-height;
        background: -webkit-gradient(linear, left 0, right 0, from(#333744), to(#4a5064));  /* for safari */
        background-image: linear-gradient(to right, #333744, #4a5064);
        > .header-left {
            display: inline-block;
            font-size: 38px;
            height: @header-height;
            line-height: @header-height;
            padding-left: 14px;
            padding-right: 10px;
            > span {
                float: left;
            }
            > .icon.icon-logo {
                position: relative;
                top: 50%;
                width: 1em;
                height: 1em;
                margin-top: -0.5em;
            }
            
            > .tit {
                color: #00d8ff;
                padding-left: 14px;
                padding-right: 10px;
                font-size:25px;
            }
            > .name {
                color: #fff;
                font-size: 25px;
                text-indent:10px;
                padding-right: 10px;
                > span {
                    padding-left: 10px;
                    border-left: 1px solid #616774;
                }
            }
        }
        > .header-right {
            display: inline-block;
            font-size: 32px;
            height: @header-height;
            line-height: @header-height;
            padding-left: 10px;
            padding-right: 10px;
            
            > span {
                float: right;
            }
            > .name {
                color: #fff;
                font-size: 22px;
                text-indent:10px;
                padding-right: 10px;
                > span {
                    padding-left: 10px;
                    border-left: 1px solid #616774;
                }
            }
        }
    }

    > .cont {
        padding-top: 86px;
        text-align: center;
        background-color: @bg-color;
        > ul {
            display: inline-block;
            > li {
                float: left;
                margin: 70px 24px 0;
            }
        }
    }
}

@media screen and (min-width: 1716px) {
    .app  > .cont > ul {
        width: 1716px;
    }
}

@media screen and (min-width: 1430px) and (max-width: 1716px) {
    .app > .cont > ul {
        width: 1430px;
    }
}

@media screen and (max-width: 1430px) {
    .app > .cont > ul {
        width: @min-width;
    }
}
