.asset-statistics{
  .content{
    right: 300px;

    .addAnimation();

    .heading{
      height: 70px;

      background: #ffffff;

      margin-right: auto;
      margin-left: auto;

      .domain{
        width: 160px;
        height: 30px;

        margin-top: 20px;
        margin-right: 25px;
        margin-bottom: 20px;
        margin-left: 20px;
      }

      .device{
        width: 160px;
        height: 30px;

        margin-top: 20px;
        margin-right: 25px;
        margin-bottom: 20px;
      }

      .search{
        width: 200px;
        height: 30px;

        margin-top: 20px;
        margin-right: 25px;
        margin-bottom: 20px;
      }
    }

    .table-container{
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 17px;
      margin-left: 20px;

      padding: 10px;

      border: solid 1px #f7f7f7;

      background: #fff;

      table{
        font-size: 14px;
        thead{
          color: #333744;
          tr{
            height: 38px;
            th{
              border-bottom: solid 1px #ddd;
            }
          }
        }

        tbody{
          color: #808080;
          tr{
            height: 41px;
            td{
              border-top: 0;
              border-bottom: solid 1px #ddd;
            }
          }

          tr:last-child{
            //td{
            //  border-bottom: solid 1px #ddd;
            //}
          }
        }
      }
    }

    .rc-pagination{
      margin-bottom: 17px;
      margin-left: 45%;
    }
  }

  &.collapsed{
    .content{
      right: 60px;
    }
  }
}

.addAnimation{
  @time: .3s;
  -webkit-transition: all @time;
  -moz-transition: all @time;
  -ms-transition: all @time;
  -o-transition: all @time;
  transition: all @time;
}