#digitalClock {
  ul {
    li {
      margin: 20px 0;
    }
    li:first-child{
      margin-top: 0px;
    }
    li:nth-child(6) {
      margin-bottom: 0px;
    }
    li:first-child,li:nth-child(3){
      border: 1px solid red;
      display: flex;
      justify-content:flex-start;
      div:first-child {
        // border: 1px solid green;
        font-size: 14px;
        line-height: 30px;
        font-weight: bold;
      }
      .input_form {
        // border: 1px solid yellow;
        margin-left: 5px;
        input {
          line-height: 30px;
          width: 550px;
          outline: none;
        }
        input:focus {
          background-color: white;
        }
        div {
          color: red;
        }
      }
    }
    li:nth-child(2), li:nth-child(4), li:nth-child(5), li:nth-child(6){
      border: 1px solid red;
      display: flex;
      justify-content: flex-start;
      >div{
        display: flex;
        justify-content: flex-start;
        font-size: 14px;
        line-height: 30px;
        font-weight: bold;
      }
    }

  }
}
