@default-background-color: #495264;
@default-border-color: #D6DBDF;

#digitalClock {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }

  footer{
    text-align: right;
    border-top: 1px solid @default-border-color;
    padding-top: 20px;
    #reset-btn {
      margin-right: 20px;
      border-color: @default-background-color;
      background-color: @default-background-color;
    }
  }

  .bgColor-pick{
   position: absolute;
   top:160px;
   right:123px;
  }
  .fontColor-pick{
    position: absolute;
    top:320px;
    right: 123px;
  }
}
