.domain-domainEdit{
  .content {

  }

  .sidebar-info .map-position{
    top: 160px;
  }

  .sidebar-info .sidebar-collapse{
    top: 70px;
  }
}

.addAnimation{
  @time: .3s;
  -webkit-transition: all @time;
  -moz-transition: all @time;
  -ms-transition: all @time;
  -o-transition: all @time;
  transition: all @time;
}