.container-wapper{
  position: relative;
  height: 100%;
  width: 100%;
}

#preview-container{
  position: absolute;
  top:50%;
  left: 50%;
  overflow: hidden;
  box-sizing: content-box;
  border: 2px solid gray;

  .areaEle{
    box-sizing: border-box;
    border: 2px dashed #00BDFF;
    position: absolute;
  }
  
  .active{
    background-color: rgba(0,154,255,.2)
  }

}


