@min-width: 700px;
@min-height: 630px;
@header-height:160px;
@container-mid-height:460px;

html,
body {
    min-width:100%!important;
    overflow-x:hidden;
}

.icon-orig(@image) {
    background: @image;
    background-size: 100% auto;
}
.container-login{
    position: relative;
    min-width: @min-width;
    min-height: @min-height;
    width: 100%;
    height: 100%;

    header{
        height: @header-height;
        padding-top:60px;
        position: relative;

        .main-title{
            float: left;
            h3{
                margin:0 24px 0 24px;
                font-size: 60px;
                color:#0453a5;
                line-height: 80px;
                float:right;
            }
            .login_logo{
                .icon-orig(url(/images/login_logo.png)no-repeat center);
                width:81px;
                margin-left:24px;
                height: 81px;
                float: left;
            }
        }

        .sub-title{
            border-left: 1px solid #959595;
            padding-left:20px;
            font-size: 18px;
            color: #959595;
            bottom:0;
            float: left;

            p{
                line-height: 40px;
                margin-bottom: 0px;
            }
        }
    }

    .container-mid{
        height: @container-mid-height;
        position: relative;
        .bg-cover{
            opacity:1;    
            .icon-orig(url(/images/login_background.jpg));
            height: @container-mid-height;
            width:100%;
            position: absolute;
            background-size: cover;
            background-position: 50% 50%;
            z-index:-1;
        }
        .bg-anm{
            background:rgb(24,133,255);width:100%;height: @container-mid-height;
            position: absolute;
            z-index:-2;
        }
        .login-right{
            width:370px;
            height: 290px;
            margin-top:85px;
            margin-right:24%;
            background: white;
            border-radius: 5px;
            padding: 10px 30px;

            p{
                text-align: center;

                &:first-child{
                    font-size: 20px;
                    color: #00C6FF;
                    line-height: 60px;
                    font-weight: bold;
                }

                &:last-of-type{
                    color:red;
                }
            }

            .form-group{
                margin-bottom: 20px;

                .login_user{
                    .icon-orig(url(/images/login_user.png));
                    width:17px;
                    height: 18px;
                    margin: 8px;
                }

                .login_password{
                    .icon-orig(url(/images/login_password.png));
                    width:17px;
                    height: 20px;
                    margin: 7px 8px;
                }

            }

            .btn-login{
                background: -webkit-gradient(linear, left 0, right 0, from#00bcff, to #00d8ff)!important;   /*  for safari */
                background-image: linear-gradient(to right, #00bcff, #00d8ff)!important;
                color: #fff!important;
                font-size: 18px;
                border-radius:20px;
                margin-top:12px;
                box-shadow: 0 2px 7px 1px rgba(0,175,255,0.35);
                // outline: none!important;
                &:hover {
                    background: -webkit-gradient(linear, left 0, right 0, from#00b1f0, to #00cbf0)!important;   /*  for safari */
                    background-image: linear-gradient(to right, #00b1f0, #00cbf0)!important;
                }
            }
        }
    }

    footer{
        position: absolute;
        width: 100%;
        text-align: center;
        height: 35px; 
        color: #959595;
        line-height: 35px;
        margin-top:20px;
    }
}

