.material{
    margin:0 auto;
    padding:20px;
    padding-bottom:0;
    >div{
        position: relative;
        margin-bottom:30px;
    }
    span{
        display: inline-block;
        font-size:14px;
        font-weight: bold;
        margin-right:10px;
    }
    .m-prompt{
        position: absolute;
        font-size:12px;
        line-height:24px;
        color:#ff5c68;
        font-weight: normal;
        top:40px;
        left:66px;
    }
    .m-hidden{
        display:none;
    }
    input{
        border:solid 1px #bbb;
        height:40px;
        width:414px;
        text-indent: 10px;
        font-size: 14px;
    }
    .import{
        position: relative;
        .file-path{
            padding-left:10px;
            background-color: #eee;
            height:40px;
            width:414px;
            line-height: 40px;
            display: inline-block;
            border:solid 1px #ccc;
            label{
                float:right;
                width:30px;
                height:30px;
                padding:7px;
                cursor:pointer;
                margin-top:5px;
                // margin-bottom: 0px;
            }       
        }
        input{
            display: inline-block;
            position: absolute;
            left:66px;
            top:0px;
            opacity:0;
         
        }
    }
    .show{
        display: flex!important;
        justify-content: center;
        align-items: center;
        // max-height:210px;
        // position: absolute;
        width:480px;
        height:200px;
        border:solid 1px #ccc;
        textarea{
            width:478px;
            height:198px;
            resize:none;
            padding:10px;
            font-size:14px;
            line-height:20px;
            border:none;
        }
        img{
            display:inline-block;
            max-width:478px;
            max-height:198px;
        }
        video{
            display:inline-block;
            background-color: #fff;
            width:478px;
            height:198px;
        }
    }
}
.material-progressWrap{
    position: relative;
    // width:100%;
    height:10px;
    margin-top:-30px;
    // outline:solid 1px #ccc;
    border-radius: 4px;
    background-color: #ccc;
    .material-progress{
        border-radius:4px;
        width:0;
        height:10px;
        background-color: #00bcff;
    }
    .progress-text{
        position: relative;
        margin-left:-15px;
    }
}
