#media-publish-screen {
    padding-right: 300px;
    transition: padding-right 0.3s;
    &.mr60 {
        padding-right: 60px;
    }
    .heading {
        height: 70px;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .select-domain,
        .search-text {
            width: 160px;
            height: 33px;
            margin-left: 20px;
        }
    }
    .body{
        margin:20px;
        padding:20px;
        background-color: #fff;
        .page-center{
            text-align: center;
        }
    }
}