.mediaPublish-playProject, .mediaPublish-playPlan{
  .head{
    .home{
      .glyphicon{
        font-weight: 100;
      }
    }
  }
  .sidebar{
    .edit-container{
      padding: 5px;
      .glyphicon{
        padding: 5px;

        cursor: pointer;

        font-size: 14px;
        font-weight: 100;
      }
      :first-child{
        padding-left: 15px;
      }

      :nth-child(2){
        padding-right: 15px;
      }
    }

    .add-poppup{
      display: none;
      position: absolute;
      top: 33px;
      left: 6px;

      width: 100px;

      padding: 5px;
      border-radius: 5px;
      background: #f2f2f4;
      span{
        padding: 0px 8px;
        &.icon{
          font-size: 15px;

          cursor: pointer;
        }
        &.glyphicon{
          position: absolute;
          top: -9px;
          color: #f2f2f4;
        }
      }

      &.active{
        display: block;
      }
    }

    .plan-list{
      li{
        height: 40px;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 28px;

        background: #d3d8dd;

        cursor: pointer;

        &.active{
          background: linear-gradient(to right, #00bcff, #00d8ff);

          color: #fff;
        }
      }
    }
  }

  .sidebar-info{
    .collapse-container{
      margin: 0;

      background: #b6bac1;
      height: 30px;

      cursor: pointer;

      .icon_vertical {
        margin-right: auto;
        margin-left: auto;
        width: 15px;
        height: 15px;
        display: block;

        margin-top: 7.5px;
      }
    }
  }
  &.sidebar-collapse{
    .content{
      .left{
        right: 60px;
      }
    }

    .sidebar-info {
      right: -240px;
      background: #e6e6e6;
      .addAnimation();
      .collapse-container {
        background:#404555;
        .icon_horizontal {
          margin: 7.5px 22.5px;
          width: 15px;
          height: 15px;
          display: block;
        }
      }
    }
  }

}

.addAnimation {
  @time: .4s;
  -webkit-transition: all @time;
  -moz-transition: all @time;
  -ms-transition: all @time;
  -o-transition: all @time;
  transition: all @time;
}