.mediaPublish-playProject, .mediaPublish-playPlan{
  .head{
    .home{
      .glyphicon{
        font-weight: 100;
      }
    }
  }
  .sidebar{
    .edit-container{
      padding: 5px;
      .glyphicon{
        padding: 5px;

        cursor: pointer;

        font-size: 14px;
        font-weight: 100;
      }
      :first-child{
        padding-left: 15px;
      }

      :nth-child(2){
        padding-right: 15px;
      }
    }

    .add-poppup{
      display: none;
      position: absolute;
      top: 33px;
      left: 6px;

      width: 100px;

      padding: 5px;
      border-radius: 5px;
      background: #f2f2f4;
      span{
        padding: 0px 8px;
        &.icon{
          font-size: 15px;

          cursor: pointer;
        }
        &.glyphicon{
          position: absolute;
          top: -9px;
          color: #f2f2f4;
        }
      }

      &.active{
        display: block;
      }
    }

    .plan-list{
      li{
        height: 40px;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 28px;

        background: #d3d8dd;

        cursor: pointer;

        &.active{
          background: linear-gradient(to right, #00bcff, #00d8ff);

          color: #fff;
        }
      }
    }
  }

  .sidebar-info{
    .collapse-container{
      margin: 0;

      background: #b6bac1;
      height: 30px;

      cursor: pointer;

      .icon_vertical {
        margin-right: auto;
        margin-left: auto;
        width: 15px;
        height: 15px;
        display: block;

        margin-top: 7.5px;
      }
    }

    .asset-property{
      .panel-heading{
        &.property-collapsed {
          .icon_collapse {
            transform: rotate(90deg);
          }
        }
      }
      .panel-body{
        &.property-collapsed{
         display: none;
        }
      }
    }
    .pro-container{
      width: 270px;

      //margin: 15px;
      //margin-right: 15px;
      //margin-left: 15px;

      .row{
        margin: 0;
        .form-group{
          .control-label{
            width: 60px;
          }

          .input-container{
            display: inline-block;

            width: 210px;
            .form-control{
              height: 28px;
            }
          }

          &.startDate, &.endDate, &.startTime, &.endTime{
            display: inline-block;
            width: 135px;
            .input-container{
              width: 75px;
              .ant-calendar-picker{
                .ant-calendar-picker-icon, .ant-calendar-picker-clear{
                  display: none;
                }
              }

              .ant-time-picker{
                .ant-time-picker-icon{
                  display: none;
                }
              }
            }
          }

          &.week{
            height: 90px;
            .control-label{
              vertical-align: top;
            }
          }
        }

        .margin-right-1{
          margin-right: 10px;
        }
        .margin-right-2{
          margin-right: 20px;
        }
        .margin-right-3{
          margin-right: 40px;
        }


        &.line{
          margin-bottom: 20px;

          border-top: solid 1px #e6e6e6;
        }
      }
    }
  }
  &.sidebar-collapse{
    .content{
      .left{
        right: 60px;
      }
    }

    .sidebar-info {
      right: -240px;
      background: #e6e6e6;
      .addAnimation();
      .collapse-container {
        background:#404555;
        .icon_horizontal {
          margin: 7.5px 22.5px;
          width: 15px;
          height: 15px;
          display: block;
        }
      }

      .asset-property{
        background: #e6e6e6;
        .panel-heading{
          span{
            margin: 2.5px 27.5px 7.5px 8px;
          }
        }

        .panel-body{
          opacity: 0;
        }
      }
    }
  }

}

.addAnimation {
  @time: .4s;
  -webkit-transition: all @time;
  -moz-transition: all @time;
  -ms-transition: all @time;
  -o-transition: all @time;
  transition: all @time;
}