#media-publish-screen {
    padding-right: 300px;
    transition: padding-right 0.3s;
    &.mr60 {
        padding-right: 60px;
    }
    .heading {
        height: 70px;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .select-domain,
        .search-text {
            width: 160px;
            height: 33px;
            margin-left: 20px;
        }
    }
    .body {
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        border: solid 1px #e6e6e6;
        .page-center {
            text-align: center;
        }
    }
    .sidebar-info {
        .panel{
            &.deviceCollapse, &.operationCollapse, &.mapCollapse{
                .icon_collapse{
                    transform: rotate(180deg);
                }
            }
        }
        .panel-body {
            .item {
                height: 30px;
                margin-bottom: 20px;
                span {
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 30px;
                }
                form {
                    input {
                        margin: 0;
                        height: 30px;
                        line-height: 30px;
                        margin-right: 10px;
                    }
                    .action {
                        display: inline-block;
                        margin-right: 20px;
                    }
                }
                .play-scheme {
                    width: 120px;
                    height: 30px;
                    vertical-align: top;
                }
            }
        }
    }
    .screen-hidden{
        // height:0;
        // transition: height 0.3s;
        display: none;
        // transition:display 0.3s;   
    }
}

.mediaPublish-screen {
    .project-popup {
        width: 730px;
        .project-container {
            >.control-label {
                text-align: right;
                line-height: 20px;
                float: left;
                width: 115px;
            }
            >.project-content {
                width: 545px;
                margin-left: 15px;
                float: left;
            }
            .project-list,
            .apply-project-list {
                float: left;
                width: 50%;
                height: 230px;
                border: 1px solid #ccc;
                overflow-y: scroll;
                >ul {
                    padding: 10px 17px 0 20px;
                    >li {
                        color: #808080;
                        font-size: 14px;
                        line-height: 30px;
                        height: 30px;
                        &:hover {
                            background-color: #e5e5e5;
                        }
                        .name {
                            user-select: none;
                        }
                        >.icon-add-container,
                        .icon-table-delete {
                            margin-top: 7px;
                            float: right;
                            display: block;
                            >span {
                                color: #00bcff;
                                &.glyphicon {
                                    color: gray;
                                    cursor: pointer;
                                }
                            }
                        }
                        >.icon-table-delete {
                            background-image: url(/images/icon_delete.png);
                            background-size: 100% 100%;
                            width: 15px;
                            height: 15px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .preview-popup {
        width: 400px;
        .modal-body {
            padding-top: 0px;
            padding-bottom: 0px;
            img {
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}