.notify-popup{
  position: absolute;
  top: 0;

  width: 100%;
  .list-group-item{
    //position: absolute;
    top: -55px;

    width: 370px;
    height: 40px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 10px 15px;

    border: 0;
    border-radius: 3px;

    user-select: none;
    &.success{
      background: #43d480;
    }

    &.fail{
      background: #ff5c68;
    }

    color: #ffffff;
    text-align: center;

    span{
      float: right;

      margin-top: -8px;
      margin-right: -5px;

      color: #fff;

      font-size: 24px;
      font-weight: normal;

      cursor: pointer;
    }

    -webkit-transition: opacity 0.3s, top 0.3s linear;
    -moz-transition: opacity 0.3s, top 0.3s linear;
    -ms-transition: opacity 0.3s, top 0.3s linear;
    -o-transition: opacity 0.3s, top 0.3s linear;
    transition: opacity 0.3s, top 0.3s linear;
  }

  .count(@count) when (@count =< 9){
    .notify-@{count}{
      &.active{
        top: @count*0+0px;
        opacity: 1;
      }
    }

    .count(@count+1);
  }

  .count(0);
}