.permission-manage{
    .icon-orig(@image) {
        background-image: @image;
        background-size: 100% 100%;
    }

    .table-container{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 17px;
        margin-left: 20px;
        padding: 20px 20px;
        border: solid 1px #ddd;
        background: #fff;
        min-width:561px;
        .page{
            text-align:center;
        }
        .page li{
            display:inline-block;
        }
        .role-icon{
            text-align: center;
            
            >.icon{
                display: inline-block;
                width: 80px;
                height: 21px;
                vertical-align: middle;
                color:#fff;
                font-size:12px;
                line-height:21px;
                padding:0px;
                border-radius:4px;
                -moz-user-select: none;
                -khtml-user-select: none;
                user-select: none;
            }
        }
        
    }

    .content{
        left:0px;
        min-width:1205px;
    }

    .heading{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        background-color: #fff;
        > .searchText {
          height: 30px;
          margin-left: 20px;
          > input[type='search'] {
            padding-left: 15px;
            padding-right: 16px;
          }
        }
        > .btn.btn-primary {
          height: 30px;
          padding: 4px 12px; 
          margin-left: 25px;
          border: 0;
          color: #fff;
        }
    }
    
}

.user-add-popup,.user-edit-popup,.user-domain-edit-popup,.user-module-edit-popup{
    width:700px;
    .modal-body{
        padding-right:50px;
        padding-top:35px;
        padding-left:0px;
        padding-bottom:35px;
        >.form-group{
            margin-bottom: 0px;
        }    
    }
    .modal-footer{
        border-top: none;
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 35px;
        padding-right:50px;
        text-align:right
    }
    .control-label{
        text-align: right;
        padding-right: 0;
        height: 34px;
        line-height: 34px;
        color: #4d4d4d;
        font-size: 14px;
        width: 100px;
        float: left;
    }
}

.user-add-popup,.user-edit-popup{
    .basic-info{
        margin-bottom: 10px;
        margin-right: 0px;
        >.role{
            width: 201px;
            height: 34px;
            margin: 0 0 30px 15px;
            color: #808080;
            padding-left: 9px;
        }
    }
}

.user-module-edit-popup{
    .module-per{
        >div{
            width:580px;
            float: left;
            padding-left: 15px;
            .checkbox-inline{
                min-width: 106px;
                padding-right: 30px;
                color: #808080;
                font-size: 14px;
                margin: 6px 0 14px 0;
            }
        }  
    }
}

.user-domain-edit-popup{
    .modal-body{
        margin-right:0px;
    }
    .domain-per{
        >.control-label{
            text-align: right;
            line-height: 20px;
            float: left;
            width: 105px;
        }
        >.domain-content{
            width: 545px;
            margin-left: 15px;
            float: left;
        }
        .domain-tree{
            float: left;
            width: 55%;
            height:230px;
            border: 1px solid #ccc;
            padding:20px;
            .searchText{
                width:100%;
                margin-bottom:5px;
            }
            >.domain-tree-list{
                height: 170px;
                overflow-y: scroll;
                padding-right: 10px;
            }
        }
        .domain-list{
            float: left;
            width: 45%;  
            height:230px;
            border: 1px solid #ccc;
            overflow-y: scroll;
            >ul{
                padding: 10px 17px 0 20px;
                >li{
                    color: #808080;
                    font-size: 14px;
                    line-height: 30px;
                    height: 30px;
                    &:hover{
                        background-color: #e5e5e5;
                    }
                    >span{
                        float: right;
                        background-image: url(/images/icon_delete.png);
                        background-size: 100% 100%;
                        display: block;
                        width: 15px;
                        height: 15px;
                        margin-top: 7px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .modal-footer{
        text-align:right
    }
}