.permission-manage{
    .content{
        left:0px;
    }

    .heading{
        height: 70px;
        background: #fff;
        .search{
            width: 200px;
            height: 30px;
            margin:20px;
        }
    }
    .table-container{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 17px;
        margin-left: 20px;
        padding: 10px;
        border: solid 1px #f7f7f7;
        background: #fff;
        .page{
            padding-left: 45%;
        }
    }
    
}
.user-add-popup{
    width:600px;
    .modal-footer{
        border-top: none;
        background-color: transparent;
        padding-top: 0;
        padding-right: 30px;
    }
    .control-label{
        text-align: right;
        padding-right: 0;
        height: 40px;
        line-height: 40px;
        color: #4d4d4d;
    }
    .module-per{
        .row{
            margin-left: 0px;
        }
    }
}
