#player-programmer{
  position: absolute;
  left: 20px;
  right:320px;
 
  transition: .4s;
  #header{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 16px;
    border-bottom:1px solid red;
  }
  #program-shaft{
    display: flex;
    // justify-content: space-between;
    margin-top: 15px;
    .base-block{
      // display: inline-block;
      height: 40px;
      width: 100%;
    }
    .active{
      background: pink;
    }
  }

}