#player-programmer{
  position: absolute;
  left: 20px;
  right:20px;
 
  transition: .4s;
  #header{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 16px;
  }
  #program-shaft{
    // position: relative;
    // display: flex;
    // justify-content: space-between;
    margin-top: 15px;
    .base-block{
      // display: inline-block;
      height: 40px;
      width: 100%;
    }
    .active{
      background: pink;
    }
    .program-wrapper{
      position: relative;
    }
    .single-program{
      position: absolute;
      height: 40px;
      background-color: gold;
      position: absolute;
      border-radius: 5px;
      text-align: center;
      line-height: 40px;
      font-size: 16px;
      color: black;
    }
  }

}