.preview-containers{
 width: 800px;
 #project-preview-carousel{
   display: flex;
   justify-content: center; 
 }
 #preview-body{
   color:green;
 }
 .img-container{
  // margin: 0 auto;
  width: 200px;
  height: 500px;
  border: 1px solid red;
  cursor: pointer;
 }
 #project-preview-footer{
  border-top:1px solid black;
  margin: 20px;
  button{
    width: 110px;
    height: 35px;
    float: right;
    margin: 20px 0;
  }
 }
}