.stat-lighting {
    .heading {
        height: 70px;
        background-color: #fff;
        display: flex; // justify-content: center;
        align-items: center;
        .select-domain {
            width: 200px;
            height: 30px;
            margin-left: 50px;
        }
    }
    .normal-device,
    .fault-device {
        position: relative;
        .left {
            width: 175px;
            height: 135px;
            transition: display .3s;
        }
        .device-null-tip {
            position: absolute;
            top: 20px;
            left: 26px;
        }
    }
}