@import url(./sideBarInfo.less);

@color1: #4A5064;
@color2: #5478F0;
@color3: #00BCFF;
@color4: #43D480;
@color5: #FF5C68;

.device-brightness {
    > .content-left {
		margin-right: 300px;
		> .wrap {
			margin: 30px;
			padding: 20px;
			background-color: #fff;
			text-align: center;
			> .select-device-list {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				height: 20px;
				margin-left: 40px;
				> li {
					margin-right: 15px;
					border-radius: 3px;
					padding: 0 15px;
					color: #fff;
					&.color-1 {
						background-color: @color1;
					}
					&.color-2 {
						background-color: @color2;
					}
					&.color-3 {
						background-color: @color3;
					}
					&.color-4 {
						background-color: @color4;
					}
					&.color-5 {
						background-color: @color5;
					}
				}
			}
			> .chart-container {
				height: 800px;
				.axis {
					> .tick{
						line {
							stroke: #ccc;
						}
						text {
							font-size: 14px;
						}
						&:first-of-type,
						&:last-of-type {
							line {
								stroke: #000;
							}
						}
					}
				}
				.line-group,
				.line-group2 {
					> .line {
						fill: none;
						stroke-width: 3px;
						&.line-0 {
							stroke: @color1;
						}
						&.line-1 {
							stroke: @color2;
						}
						&.line-2 {
							stroke: @color3;
						}
						&.line-3 {
							stroke: @color4;
						}
						&.line-4 {
							stroke: @color5;
						}
					}
				}
				.brush-bg {
					fill: #ececec;
				}
				.zoom {
					cursor: move;
					fill: none;
					pointer-events: all;
				}
			}
		}
    }
    > .sidebar-info {
        width: 300px;
        background-color: #eaeef2;;
        overflow-x: hidden;
        > .panel.panel-default {
            width: 300px;
            border: none;
            border-radius: unset;
            box-shadow: unset;
            margin-bottom: 0;
            background-color: #eaeef2;
            overflow: hidden;

            &.panel-1,
            &.panel-2,
            &.panel-3 {
                position: absolute;
                left: 0;
                transition: all .3s ease;
            }
            &.panel-1 {
				top: 30px;
            }
            &.panel-2 {
                top: 140px;
            }
            &.panel-3 {
                top: 230px;
            }

            &.panel-1 {
				height: 110px;
				& .panel-body {
					text-align: center;
					> * {
						float: left;
					}
					> .from,
					> .to {
						width: 120px;
						height: 30px;
					}
					> span {
						display: block;
						height: 30px;
						line-height: 30px;
						padding-left: 8px;
						padding-right: 8px;
					}
				}
            }

            &.panel-2 {
                .panel-body > div {
					&.device-filter {
						margin-bottom: 2px;
						.select {
							width: 125px;
							min-width: 125px;
							height: 34px;
							margin-bottom: 20px;
							&:first-child {
								margin-right: 20px;
							}
						}

						.searchText {
							width: 100%;
							min-width: 49%;
							height: 34px;
						}
					}

					&.table-responsive {
						min-width: 100%;
						margin-bottom: 0;
						> .table {
							min-width: 100%;
							th:first-child input{
								visibility: hidden;
							}
						}
					}
					&.page-center {
						text-align: center;
						padding-top: 10px;
						padding-bottom: 10px;
					}
					&.btn-group-right {
						text-align: right;
						padding-top: 20px;
						border-top: 1px solid #d6dbdf;
						.btn {
							margin-left: 10px;
						}
					}

                    // .tit,
                    // .note,
                    // .select,
                    // .btn {
                    //     display: inline-block;
                    //     height: 30px;
                    //     line-height: 30px;
                    //     vertical-align: middle;
                    // }
                    // .tit {
                    //     width: 70px;
                    //     text-align: right;
                    // }
                    // .note,
                    // .select {
                    //     width: 110px;
                    //     margin-right: 20px;
                    //     margin-left: 5px;
                    // }
                }
            }

            > .panel-heading {
                background: #d3d8dd;
                border-radius: unset;
                > span {
                    float: left;
                    width: 15px;
                    height: 15px;
                    margin: 2.5px 7.5px 7.5px 0;
                }
            }
            > .panel-body {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }

    > .content-left,
    > .sidebar-info {
        transition: all .3s;
    }

    &.collapse {
        display: block;
        > .content-left {
            margin-right: 60px;
        }
        > .sidebar-info.sidebar-collapse {
            width: 60px;
            right: 0;
            > .panel.panel-default {
                height: 40px;
                &.panel-1 {
                    top: 30px;
                }
                &.panel-2 {
                    top: 70px;
                }
                &.panel-3 {
                    top: 110px;
                }

                > .panel-heading {
                    > span {
                        margin: 2.5px 23px 7.5px 7.5px;
                    }
                }

            }
        }
    }
}

device-brightness {
    > .sidebar-info {
        > .panel.panel-default {
            &.panel-2 {
                height: 181px;
            }
        }
    }
}
// .list-screen {
//     > .sidebar-info {
//         > .panel.panel-default {
//             &.panel-2 {
//                 height: 131px;
//             }
//         }
//     }
// }
