.stat-lighting {
    .heading {
        height: 70px;
        background-color: #fff;
        display: flex; // justify-content: center;
        align-items: center;
        .select-domain {
            width: 200px;
            height: 30px;
            margin-left: 50px;
        }
    }
}