.sidebar-info {
  //position: fixed;
  position: absolute;
  //top: 60px;
  top: 0;
  right: 0;

  padding: 0;

  height: 100%;

  .addAnimation();
  .panel-body.collapsed {
    opacity: 0;
    height: 0;
    display: none;
  }
  &.sidebar-collapse {
    right: -240px;
    background: #eaeef2;
    .collapse-container {
      background:#404555;
      .icon_horizontal {
        margin: 7.5px 22.5px;
        width: 15px;
        height: 15px;
        display: block;
      }
    }

    /*.device-statics-info, .map-position*/
    .panel {
      .panel-heading {
        background: linear-gradient(to right, #e0e0e0 0%, #e6e6e6 5%);
        span:first-child, svg {
          margin: 2.5px 27.5px 0px 8px;
          fill: #333;
        }
      }
      .panel-heading:hover {
        background: #f2f1ed;
      }
      .panel-heading:hover svg {
        fill: #000;
      }
      .map-container {
        opacity: 0;
        cursor: default;
      }
    }

    .map-position {
      top: 70px;
    }
  }

  .collapse-container {

    margin: 0;

    background: #b6bac1;
    width: 300px;
    height: 30px;

    cursor: pointer;

    .icon_vertical {
      margin-right: auto;
      margin-left: auto;
      width: 15px;
      height: 15px;
      display: block;

      margin-top: 7.5px;
    }

    .addAnimation();

  }

  /*.device-statics-info, .map-position*/
  .panel {
    margin: 0;
    border: 0;
    border-radius: 0;
    width: 300px;
    .panel-heading {
      border: 0px;
      border-radius: 0;
      color: #4d4d4d;
      font-weight:bold;
      background: #d3d8dd;

      /*.icon_statistics, .icon_map_position, .icon_domain_property*/
      span:first-child{
        font-size:15px;
        display: block;
        width: 15px;
        height: 15px;
        float: left;
        margin: 2.5px 7.5px 7.5px 0;
        .addAnimation();
      }
      svg {
        fill: #333;
        width: 20px;
        height: 20px;
        display: inline-block;
        float: left;
        padding: 2px 0px 0px 0px;
        margin-right: 3px;
      }
    }

    .panel-body {
      background: #eaeef2;
    }

    .view {
      height: 166px;
      padding: 8px 0 0 0;

      > div {
        display: inline-block;

        margin-right: 5px;

        &.circle1 {
          .type {
            font-size: 36px;
            fill: #000;
            text-anchor: middle;
          }

          .val {
            font-size: 75px;
            fill: #04c1fe;
            text-anchor: middle;
          }
        }

        &.circle2 {
          .type {
            font-size: 36px;
            fill: #000;
            text-anchor: middle;
          }

          .val {
            font-size: 75px;
            fill: #fa6262;
            text-anchor: middle;
          }
        }
      }
    }

    .map-container {
      position: absolute;
      top: 40px;
      right: 0;
      bottom: 0;
      left: 0;

      padding: 0;

      .addAnimation();
    }
  }

  .map-position {
    position: absolute;
    top: 236px;
    right: 0;
    bottom: 0;
    left: 0;

    .addAnimation();
  }

  .whitelist, .dataOrigin {
    .addAnimation();
  }
}

.addAnimation {
  @time: .3s;
  -webkit-transition: all @time;
  -moz-transition: all @time;
  -ms-transition: all @time;
  -o-transition: all @time;
  transition: all @time;
}
