@import url(./sideBarInfo.less);
.list-lc,
.list-lcc,
.list-sensor,
.list-screen,
.list-collect {
    > .content-left {
        margin-right: 300px;
        > .heading {
            height: 70px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: #fff;
            > .select {
                width: 160px;
                height: 30px;
                margin-left: 20px;
            }
            > .searchText {
                margin-left: 20px;
            }
        }
        > .body {
            > .table-responsive {
                margin: 20px;
                padding: 20px;
                background: #fff;
                border: 1px solid#e6e6e6;
            }
        }
    }
    > .sidebar-info {
        width: 300px;
        background-color: #fff;
        overflow-x: hidden;
        > .panel.panel-default {
            width: 300px;
            border: none;
            border-radius: unset;
            box-shadow: unset;
            margin-bottom: 0;
            overflow: hidden;
            transition: height .3s;
            > .panel-heading {
                background: #d2d9dc;
                border-radius: unset;
                > span {
                    float: left;
                    width: 15px;
                    height: 15px;
                    margin: 2.5px 7.5px 7.5px 0;
                }
            }
            > .panel-body {
                background: #eaeef2;
            }
        }
    }

    > .content-left,
    > .sidebar-info {
        transition: all .3s;
    }

    &.collapse {
        display: block;
        > .content-left {
            margin-right: 60px;
        }
        > .sidebar-info.sidebar-collapse {
            width: 60px;
            right: 0;
            > .panel.panel-default {
                height: 41px;
                > .panel-heading {
                    > span {
                        margin: 2.5px 23px 7.5px 7.5px;
                    }
                }
                
            }
        }
    }
}