@font-face {
  font-family: 'starriver';
  src:  url('../font/starriver.eot?s0dzk1');
  src:  url('../font/starriver.eot?s0dzk1#iefix') format('embedded-opentype'),
    url('../font/starriver.ttf?s0dzk1') format('truetype'),
    url('../font/starriver.woff?s0dzk1') format('woff'),
    url('../font/starriver.svg?s0dzk1#starriver') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'starriver' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_add_c:before {
  content: "\e900";
  color: #4bd383;
}
.icon_alarm:before {
  content: "\e901";
}
.icon_bottom:before {
  content: "\e902";
}
.icon_branch:before {
  content: "\e903";
}
.icon_calendar:before {
  content: "\e904";
}
.icon_camera:before {
  content: "\e905";
  color: #4a5064;
}
.icon_center:before {
  content: "\e906";
}
.icon_charge_pole:before {
  content: "\e907";
  color: #4a5064;
}
.icon_chart:before {
  content: "\e908";
  color: #4a5064;
}
.icon_chinese:before {
  content: "\e909";
}
.icon_collapse:before {
  content: "\e90a";
  color: #4a5064;
}
.icon_collect:before {
  content: "\e90b";
  color: #4a5064;
}
.icon_collect_c1:before {
  content: "\e90c";
  color: #4a5064;
}
.icon_control:before {
  content: "\e90d";
}
.icon_control_c1:before {
  content: "\e90e";
  color: #4a5064;
}
.icon_db:before {
  content: "\e90f";
  color: #4a5064;
}
.icon_delete:before {
  content: "\e910";
  color: #4a5064;
}
.icon_delete_c:before {
  content: "\e911";
  color: #fc5e6b;
}
.icon_device_list:before {
  content: "\e912";
  color: #4a5064;
}
.icon_domain:before {
  content: "\e913";
  color: #4a5064;
}
.icon_domain_list:before {
  content: "\e914";
}
.icon_edit:before {
  content: "\e915";
  color: #4a5064;
}
.icon_english:before {
  content: "\e916";
}
.icon_enlarge:before {
  content: "\e917";
}
.icon_exit:before {
  content: "\e918";
  color: #4a5064;
}
.icon_fault:before {
  content: "\e919";
}
.icon_file:before {
  content: "\e91a";
}
.icon_gateway:before {
  content: "\e91b";
}
.icon_gateway_c1:before {
  content: "\e91c";
  color: #4a5064;
}
.icon_info:before {
  content: "\e91e";
  color: #4a5064;
}
.icon_latlng:before {
  content: "\e91f";
  color: #4a5064;
}
.icon_lc:before {
  content: "\e920";
}
.icon_lc_c1:before {
  content: "\e921";
  color: #4a5064;
}
.icon_left:before {
  content: "\e922";
}
.icon_list:before {
  content: "\e923";
  color: #4a5064;
}
.icon_map:before {
  content: "\e924";
  color: #4a5064;
}
.icon_mediaPublish_cycle:before {
  content: "\e925";
}
.icon_mediaPublish_general:before {
  content: "\e926";
}
.icon_mediaPublish_regular:before {
  content: "\e927";
}
.icon_middle:before {
  content: "\e928";
}
.icon_module:before {
  content: "\e929";
  color: #4a5064;
}
.icon_password:before {
  content: "\e92a";
  color: #4a5064;
}
.icon_play:before {
  content: "\e92b";
}
.icon_pole:before {
  content: "\e92c";
  color: #4a5064;
}
.icon_pole_c1:before {
  content: "\e92d";
  color: #4a5064;
}
.icon_reduce:before {
  content: "\e92e";
}
.icon_rename:before {
  content: "\e92f";
  color: #808080;
}
.icon_right:before {
  content: "\e931";
}
.icon_save:before {
  content: "\e932";
}
.icon_scene:before {
  content: "\e933";
  color: #4a5064;
}
.icon_screen:before {
  content: "\e934";
  color: #4a5064;
}
.icon_screen_c1:before {
  content: "\e935";
  color: #4a5064;
}
.icon_select:before {
  content: "\e936";
  color: #4a5064;
}
.icon_send:before {
  content: "\e937";
}
.icon_sensor:before {
  content: "\e938";
  color: #4a5064;
}
.icon_sensor_c1:before {
  content: "\e939";
  color: #4a5064;
}
.icon_status:before {
  content: "\e93a";
  color: #4a5064;
}
.icon_sys_status:before {
  content: "\e93b";
  color: #4a5064;
}
.icon_top:before {
  content: "\e93c";
}
.icon_touch:before {
  content: "\e93d";
  color: #4a5064;
}
.icon_update:before {
  content: "\e93e";
}
.icon_upgrade:before {
  content: "\e93f";
}

.icon_test:before{
  content: "\e93d";
}
.icon_upgrade2:before {
  content: "\e940";
  color: #fff;
}
.icon_version:before {
  content: "\e941";
  color: #4d4d4d;
}
.icon_import:before {
  content: "\e91d";
  color: #fff;
}
.icon_replace:before {
  content: "\e930";
  color: #fff;
}
