html,
body {
    height: 100%;
    margin: 0;
    font-family: "Microsoft YaHei";
}

button{
    outline: none!important;
}

input::-ms-clear {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/**********************************************************************************/
.head {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 60px;
    background: linear-gradient(to right, #333744, #4a5064);
}

.head {
    color: #00d8ff;
    z-index: 3;
}

.head .home {
    display: inline-block;
    padding: 17px;

    border-right: solid 1px #272a37;

    vertical-align: top;
}

.head .avatar {
    float: right;
    padding: 18px;

    border-left: solid 1px #343a45;
}

.head .home span, .head .avatar span {
    display: block;

    width: 25px;
    height: 25px;

    background-size: 25px 25px;
}

.head .home span {
    background: url("../images/icon_home.png");
    background-size: 100% 100%;

    cursor: pointer;
}

.head .avatar span {
    background: url("../images/icon_avatar.png");
}

.head .title {
    display: inline-block;

    color: #00d8ff;
    font-size: 18px;
    font-weight: bold;

    padding-top: 3px;
    padding-left: 25px;

    vertical-align: top;
}

.sidebar {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;

    width: 180px;
    background: #e4e6ea;
}

.content {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 180px;

    background: #f2f2f4;
}

.content.offset-right{
    right: 300px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.content.collapsed{
    right: 60px;
}

/***********************************************************************************************/
.container .box {
    height: 100%;
    box-sizing: border-box;
}

.container .box.left {
    min-width: 320px;
    max-width: 320px;
    background-color: #f2f2f2;
}

.container .box.mid {
    flex-grow: 1;
    min-width: 320px;
    max-width: 500px;
    background-color: #298fcc;
}

.container .box.right {
    flex-grow: 1;
    min-width: 320px;
}

.title {
    padding-left: 10px;
    height: 50px;
    box-sizing: border-box;
    font-size: 28px;
    line-height: 50px;
}

.title button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    float: right;
    padding: 12px;
}

.search-container {
    padding: 10px;
    position: relative;
}

.search-container .search {
    padding: 3px 35px 3px 10px;
    outline: none;
    font-size: 18px;
    border: 2px solid #7a7a7a;
    background-color: white;
}

.search-container .search:hover {
    border-color: #171717;
}

.search-container .search:focus {
    border-color: #298fcc;
}

.search-container .search input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 18px;
}

.search-container .search button {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 9px;
}

/*.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  outline: none;
}*/
.primary-background-btn:hover {
    background-color: #3e9ad1;
}

.primary-background-btn:hover:active {
    background-color: #54a5d6;
}

.normal-background-btn:hover {
    background-color: #dadada;
}

.normal-background-btn:hover:active {
    background-color: #c2c2c2;
}

.clear-btn:hover {
    color: #298fcc;
}

.entities {
    margin-top: 20px;
}

.entity {
    display: table;
}

.entity:hover {
    background-color: #dadada;
}

.entity:hover:active {
    background-color: #c2c2c2;
}

.entity.active {
    background-color: #a1cae3;
}

.entity.active:hover {
    background-color: #7ab7db;
}

.entity.active:active {
    background-color: #65acd7;
}

.entity .p1 {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    padding-left: 10px;
    text-align: center;
}

.entity .p1 .person-icon {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: #298fcc;
    color: transparent;
}

.entity .p2 {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 10px;
    width: 100%;
}

.tools {
    height: 50px;
}

.tools button {
    color: white;
    width: 70px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    float: right;
    padding: 12px;
}

.tools button.last {
    font-size: 18px;
    line-height: 18px;
    padding: 15px;
    width: 50px;
}

.details {
    color: white;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree-list {
    width: 180px;
    /*background: #343743;*/
    color: #4d4d4d;
    font-size: 14px;
    /*border: solid 1px #000;*/
    cursor: pointer;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tree-list li{
    list-style: none;
}

.tree-list a {
    color: #4d4d4d;
}

.tree-list a:hover{
    text-decoration: none;
}

.tree-list a:visited{
    text-decoration: none;
}

.tree-list a:active{
    text-decoration: none;
}

.tree-list a:link{
    text-decoration: none;
}

.tree-list .tree-1, .tree-list .tree-2 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.tree-list .tree-1 > li > a > div {
    height: 40px;
    padding: 10px 0px 10px 25px;
    line-height: 20px;
    background: #d3d8dd;
}

.tree-list .tree-1 > li span {
    margin-right: 12px;
}

.tree-list .tree-2{
    overflow: hidden;
}

.tree-list .tree-2 > li > a > div {
    padding: 9.5px 0px 9.5px 22px;
    line-height: 20px;
    /*background: #d3d8dd;*/
}

.tree-list .tree-2 > li span {
   top: 3px;
    margin-right: 16px;
    width: 16px;
    height: 16px;
}

.tree-list .tree-2 > li > a > div:hover {
    background: #cce7ed;
}

.tree-list .tree-2 .active > a > div {
    background: linear-gradient(to right, #00bcff, #00d8ff);
}

.tree-list .tree-2 .active > a > div:hover{
    background: linear-gradient(to right, #00bcff, #00d8ff);
}

.tree-list .tree-2 .active > a > div{
    color: #ffffff;
}

.map-view{
    width: 100%;
    height: 100%;
}

.select {
    border: solid 1px #ddd;
}

.searchText {
    display: inline-block;

    position: relative;

    min-width: 200px;
    min-height: 26px;
}

.searchText input {
    width: 100%;
    height: 100%;

    border: solid 1px #ddd;
}

.searchText .glyphicon-search {
    position: absolute;
    top: 50%;
    right: 5px;

    margin-top: -7px;

    cursor: pointer;
}

.searchText ul{
    display: none;

    position: absolute;

    background-color: #fff;
    border: solid 1px #ddd;

    width: 100%;
    /*height: 100%;*/

    overflow-x: hidden;
    overflow-y: auto;
}

.searchText ul li{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
    margin-left: 10px;

    cursor: pointer;

    border-bottom: solid 1px #ccc;
}

.searchText ul li:last-child{
    border-bottom: 0;
}

.searchText ul li:hover{
    background-color: #f5f5f5;
}

.searchText ul li.active{
    background-color: #f5f5f5;
}

.searchText .select-active{
    display: block;
    /*height: 60px;*/
}

.pull-center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.tree-list .icon_light_control {
    background: url("../images/icon_light_control.png");
}

.tree-list .icon_led_light {
    background: url("../images/icon_led_light.png");
}

.tree-list .icon_plc_control {
    background: url("../images/icon_plc_control.png");
}

.tree-list .icon_ammeter {
    background: url("../images/icon_ammeter.png");
}

.tree-list .icon_pole {
    background: url("../images/icon_pole.png");
}

.tree-list .icon_screen {
    background: url("../images/icon_screen.png");
}

.tree-list .icon_collect {
    background: url("../images/icon_collect.png");
}

.tree-list .icon_light_control_hover {
    background: url("../images/icon_light_control_hover.png");
}

.tree-list .icon_led_light_hover {
    background: url("../images/icon_led_light_hover.png");
}

.tree-list .icon_plc_control_hover {
    background: url("../images/icon_plc_control_hover.png");
}

.tree-list .icon_ammeter_hover {
    background: url("../images/icon_ammeter_hover.png");
}

.tree-list .icon_pole_hover {
    background: url("../images/icon_pole_hover.png");
}

.tree-list .icon_screen_hover {
    background: url("../images/icon_screen_hover.png");
}

.tree-list .icon_collect_hover {
    background: url("../images/icon_collect_hover.png");
}

.tree-list .icon_domain_list {
    background: url("../images/icon_domain_list.png");
}
.tree-list .icon_domain_list_hover {
    background: url("../images/icon_domain_list_hover.png");
}
.tree-list .icon_domain_topology {
    background: url("../images/icon_domain_topology.png");
}
.tree-list .icon_domain_topology_hover {
    background: url("../images/icon_domain_topology_hover.png");
}
.tree-list .icon_single_lamp_control {
    background: url("../images/icon_single_lamp_control.png");
}
.tree-list .icon_single_lamp_control_hover {
    background: url("../images/icon_single_lamp_control_hover.png");
}

.sidebar-info .icon_verital {
    background: url("../images/icon_verital.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_horizontal {
    background: url("../images/icon_horizontal.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_statistics {
    background: url("../images/icon_statistics.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_map_position {
    background: url("../images/icon_map_position.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_domain_property {
    background: url("../images/icon_domain_property.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_sys_select {
    background: url("../images/icon_sys_select.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_sys_whitelist {
    background: url("../images/icon_sys_whitelist.png");
    background-size: 100% 100%;
}

/******************* user center styles ***********************/
.user-center {
    float: right;
    position: relative;
}

.user-center > .user-icon {
    padding: 17px 17px 18px 17px;
    border-left: 1px solid #353b4e;
    cursor: pointer;
}

.user-center > .user-icon > .icon.icon-usr {
    float: left;
    width: 25px;
    height: 25px;
    background-image: url(/images/icon_avatar.png);
    background-size: 100% 100%;
}

.user-center > ul.user-list {
    position: absolute;
    top: 60px;
    right: 0;
}

.user-center > ul.user-list > li {
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f8f8f8;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.user-center > ul.user-list > li:last-child {
    border-bottom: none;
}

.user-center > ul.user-list > li > .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.user-center .icon.icon-alter {
  background-image: url(/images/icon_alter.png);
  background-size: 100% 100%;
}

.user-center .icon.icon-exit {
  background-image: url(/images/icon_exit.png);
  background-size: 100% 100%;
}

/********************* overlayer style ****************************/
.overlayer {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    overflow: auto;
}

.overlayer > div {
    height: 100%;
    padding-top: 150px;
    opacity: 0;
    -webkit-transform: rotateX(-60deg);
    /* Safari 和 Chrome */
    -moz-transform: rotateX(-60deg);
    -ms-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    /* Safari 和 Chrome */
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.overlayer > div > div {
    margin-left: auto;
    margin-right: auto;
}


.overlayer-show {
    visibility: visible;
    opacity: 1;
}

.overlayer-show > div {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-moz-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.overlayer-pulse > div {
    -webkit-animation: pulse .1s;
    -moz-animation: pulse .1s;
    -ms-animation: pulse .1s;
    animation: pulse .1s;
}
/*********************** modal *******************************/
.modal-content {
    width: 100%;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}
.modal-title {
    text-align: center;
}

.modal-header {
    border-bottom-color: #909090;
}

.modal-header .close {
    font-size: 27px;
}
.modal-dialog {
    width: 100%;
    margin: 0 auto;
}
.modal-footer button{
    width: 110px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.modal-footer .btn:last-child {
    margin-left: 15px;
}

.modal-footer .btn.btn-primary {
    background-color: #00d6ff;
    border-color: #00d6ff;
    height: 36px;
}
.modal-footer .btn.btn.btn-primary:hover {
    background-color: #00c1e6;
    border-color: #00c1e6;
}

.modal-footer .btn.btn-default{
    color: #808080;
}

.btn-toolbar .btn-group .btn.btn-primary{
    background-color: #00d6ff;
    border-color: #00d6ff;
    height: 36px;
}

.btn-toolbar .btn-group .btn.btn.btn-primary:hover {
    background-color: #00c1e6;
    border-color: #00c1e6;
}
/****************** 修改密码弹框 ************************/

.alter-pw-popup {
    width: 460px;
    overflow: hidden;
}

.alter-pw-popup .modal-header {
    height: 50px;
    font-size: 16px;
    color: #808080;
    border-bottom-color:#919191;    
}

.alter-pw-popup .modal-header .close{
    font-size: 30px;
    margin-top: -7px;
}

 .alter-pw-popup .modal-body {
    padding: 20px 30px 10px;
    font-size: 14px;
} 

 .alter-pw-popup .modal-body .form-group .control-label{
    text-align: right;
    padding-right: 0;
    height: 40px;
    line-height: 40px;
    color: #4d4d4d;
}

.alter-pw-popup .modal-body .form-group .form-control{
    height: 40px;
    color: #b3b3b3;
}

.alter-pw-popup .modal-footer {
    border-top: none;
    background-color: transparent;
    padding-top: 0;
    padding-right:30px;
}
.alter-pw-popup .modal-footer .btn-toolbar{
    margin-right: 45px;
}

/****************** 退出弹框 ************************/
.usr-exit {
    width: 320px;
    height: 180px;
    border-radius: 9px;
    background-color: #fff;
    text-align: center;
    padding: 28px 42px 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.usr-exit > div {
    text-align: center;
    font-size: 16px;
    color: #808080;
}

.usr-exit .icon.icon-popup-exit {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(/images/icon_popup_exit.png);
    background-size: 100% 100%;
    margin-bottom: 5px;
}

.usr-exit .btn-toolbar {
    margin-top: 20px;
    margin-left: 0;
}
.usr-exit button {
    width: 110px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.usr-exit .btn-group {
    margin: 0;
}
.usr-exit .btn-group:last-child {
    margin-left: 16px;
}
.usr-exit .btn.btn-primary {
    background-color: #00d6ff;
    border-color: #00d6ff;
}

.btn-primary{
    width:60px;
    height:30px;
    background-color: #00bcff;
    border-color: #00bcff;
    padding:0;
}

.btn-primary:hover{
    background-color: #00a9e6;
    border-color: #00a9e6;
}

.btn-primary:focus{
    background-color: #00a9e6;
    border-color: #00a9e6;
}

.usr-exit .icon.icon_popup_delete{
    display: inline-block;
    width: 40px;
    height: 40px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;

    background: url("/images/icon_popup_delete.png");
    background-size: 100% 100%;

}