html,
body {
    min-width:1205px;
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x:hidden;
    
}

body {
    /*min-width: 1366px;*/
}

button{
    outline: none!important;
}

.btn.btn-primary,
.btn.btn-default,
.btn.btn-danger {
    width:60px;
    height:30px;
    padding: 0;
}

.btn.btn-danger {
    background-color: #ff5c68;
    border-color: #ff5c68; 
}

.btn.btn-primary {
    background-color: #00bcff;
    border-color: #00bcff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: #00b1f0;
    border-color: #00b1f0;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
    background-color: #ff4d5a;
    border-color: #FF4D59;
}

/* .btn[disabled],
.btn[disabled]:hover {
    color: #fff!important;
    background: #b6b9c2!important;
    border-color: #b6b9c2!important;
    background-image: linear-gradient(to right, #b6b9c2, #b6b9c2)!important;
} */

input::-ms-clear {
    display: none;
}

.container {
    /* display: flex;
    flex-direction: row; */
    position: relative;
    width: 100%;
    height: 100%;
}

input.form-control::-webkit-input-placeholder { color: #b3b3b3; }
input.form-control::-moz-placeholder { color: #b3b3b3; }
input.form-control:-moz-placeholder { color: #b3b3b3; }
input.form-control:-ms-input-placeholder { color: #b3b3b3; }

.padding-left{
    padding-left: 15px
}
.padding-right{
    padding-right: 15px;
}

.margin-top{
    margin-top: 15px;
}

.margin-bottom{
    margin-bottom: 15px;
}
/**********************************************************************************/
.head {
     position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    min-width: 1205px;
    height: 60px;
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
    background: linear-gradient(to right, #333744, #4a5064);
    color: #00d8ff;
    z-index: 4;
}

.head .home {
    display: inline-block;
    border-right: solid 1px #272a37;
    width:60px;
    height:60px;
    text-align: center;
}

.head .home:hover{
    background:#4a5064;
}

.head .avatar {
    float: right;
    padding: 18px;
    border-left: solid 1px #343a45;
}

.tree-ul .tree-ul{
    padding-left:17px;
}

.head .home span, .head .avatar span {
    display: block;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
}

.head .home span {
    font-size: 24px;
    width:24px;
    height:24px;
    display: inline-block;
    top:18px;
    cursor: pointer;
}
.head .home span:before {
    position:absolute;
    top:0px;
    left:0px;
    height:24px;
    width:24px;
}

.head .avatar span {
    background: url("../images/icon_avatar.png");
}

.head .title {
    display: inline-block;
    height:60px;
    color: #00d8ff;
    font-size: 18px;
    font-weight: normal;
    line-height: 60px;

    vertical-align: top;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;

    width: 180px;
    background: #e6e6e6;
}

.content {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 180px;
    min-width: 1025px;
    overflow-x: hidden;    
    background: #f2f2f4;
}

.content.offset-right{
    /* right: 300px; */

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.content.offset-right > .heading {
    margin-right: 300px;
    -webkit-transition: margin-right .3s;
    -moz-transition: margin-right .3s;
    -ms-transition: margin-right .3s;
    -o-transition: margin-right .3s;
    transition: margin-right .3s;
}

.content.collapsed > .heading{
    margin-right: 60px;
}

/***********************************************************************************************/
.container .box {
    height: 100%;
    box-sizing: border-box;
}

.container .box.left {
    min-width: 320px;
    max-width: 320px;
    background-color: #f2f2f2;
}

.container .box.mid {
    flex-grow: 1;
    min-width: 320px;
    max-width: 500px;
    background-color: #298fcc;
}

.container .box.right {
    flex-grow: 1;
    min-width: 320px;
}

.title {
    padding-left: 10px;
    height: 50px;
    box-sizing: border-box;
    font-size: 28px;
    line-height: 50px;
}

.title button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    float: right;
    padding: 12px;
}

.search-container {
    padding: 10px;
    position: relative;
}

.search-container .search {
    padding: 3px 35px 3px 10px;
    outline: none;
    font-size: 18px;
    border: 2px solid #7a7a7a;
    background-color: white;
}

.search-container .search:hover {
    border-color: #171717;
}

.search-container .search:focus {
    border-color: #298fcc;
}

.search-container .search input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 18px;
}

.search-container .search button {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 9px;
}

/*.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  outline: none;
}*/
.primary-background-btn:hover {
    background-color: #3e9ad1;
}

.primary-background-btn:hover:active {
    background-color: #54a5d6;
}

.normal-background-btn:hover {
    background-color: #dadada;
}

.normal-background-btn:hover:active {
    background-color: #c2c2c2;
}

.clear-btn:hover {
    color: #298fcc;
}

.entities {
    margin-top: 20px;
}

.entity {
    display: table;
}

.entity:hover {
    background-color: #dadada;
}

.entity:hover:active {
    background-color: #c2c2c2;
}

.entity.active {
    background-color: #a1cae3;
}

.entity.active:hover {
    background-color: #7ab7db;
}

.entity.active:active {
    background-color: #65acd7;
}

.entity .p1 {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    padding-left: 10px;
    text-align: center;
}

.entity .p1 .person-icon {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: #298fcc;
    color: transparent;
}

.entity .p2 {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 10px;
    width: 100%;
}

.tools {
    height: 50px;
}

.tools button {
    color: white;
    width: 70px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    float: right;
    padding: 12px;
}

.tools button.last {
    font-size: 18px;
    line-height: 18px;
    padding: 15px;
    width: 50px;
}

.details {
    color: white;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree-list {
    width: 180px;

    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /*background: #343743;*/
    color: #4d4d4d;
    font-size: 14px;
    /*border: solid 1px #000;*/
    cursor: pointer;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tree-list li{
    list-style: none;
}

.tree-list a {
    color: #4d4d4d;
}

.tree-list a:hover{
    text-decoration: none;
}

.tree-list a:visited{
    text-decoration: none;
}

.tree-list a:active{
    text-decoration: none;
}

.tree-list a:link{
    text-decoration: none;
}

.tree-list .tree-1, .tree-list .tree-2 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.tree-list .tree-1 > li > a > div {
    height: 40px;
    padding: 10px 0px 10px 25px;
    line-height: 20px;
    background: #d3d8dd;
}

.tree-list .tree-1 > .bottom > a > div{
    background:#e6e6e6;
}

.tree-list .tree-1 > li > a > div:hover {
    height: 40px;
    padding: 10px 0px 10px 25px;
    line-height: 20px;
    background: #e6e6e6;
    color:#333744;
}

.tree-list .tree-1 > li span {
    margin-right: 12px;
}

.tree-list .tree-2{
    overflow: hidden;
}

.tree-list .tree-2 > li > a > div {
    height:40px;
    padding-left:12px;
    /*background: #d3d8dd;*/
}

.tree-list .tree-2 > li > a > div svg{
    width:40px;
    height:40px;
    display: inline-block;
    float:left;
    padding:12px 12px;
    fill:#666;
}

.tree-list .tree-2 > li > a > div span{
    height:40px;
    display: inline-block;
    float:left;
    font-size:14px;
    line-height: 40px;
}

.tree-list .tree-2 > li span {
}

.tree-list .tree-2 > li > a > div:hover {
    background: #cce7ed;
}

.tree-list .tree-2 .active > a > div {
    color: #ffffff;
    background: linear-gradient(to right, #00bcff, #00d8ff);
}

.tree-list .tree-2 .active > a > div:hover{
    background: linear-gradient(to right, #00bcff, #00d8ff);
}

.tree-list .tree-2 .active > a > div svg use{
    fill:#fff;
}

.tree-list .tree-2 .active > a > div span{

}

.map-view{
    width: 100%;
    height: 100%;
}

.select {
    display: inline-block;
    border: solid 1px #ddd;
    padding-top: 0px; padding-bottom: 0px;
    padding-right: 14px;
    padding-left: 14px;
}

.searchText {
    display: inline-block;

    position: relative;

    min-width: 200px;
    min-height: 26px;
}

.searchText input {
    width: 100%;
    height: 100%;

    border: solid 1px #ddd;
    color: #4d4d4d;
    padding-right: 14px;
    padding-left: 14px;
}

.searchText .glyphicon-search {
    position: absolute;
    top: 50%;
    right: 5px;

    margin-top: -7px;

    cursor: pointer;
}

.searchText ul{
    display: none;

    position: absolute;

    background-color: #fff;
    color: #808080;

    border: solid 1px #ddd;

    width: 100%;
    /*height: 100%;*/
    max-height: 300px;

    overflow-x: hidden;
    overflow-y: auto;
}

.searchText ul li{
    padding: 10px 15px 10px 15px;

    cursor: pointer;

    border-bottom: solid 1px #ccc;
}

.searchText ul li:last-child{
    border-bottom: 0;
}

.searchText ul li:hover{
    background-color: #f5f5f5;
}

.searchText ul li.active{
    background-color: #f5f5f5;
}

.searchText .select-active{
    display: block;
    /*height: 60px;*/
}

.pull-center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.tree-list .icon_light_control {
    background: url("../images/icon_light_control.png");
}

.tree-list .icon_led_light {
    background: url("../images/icon_led_light.png")no-repeat center;
}

.tree-list .icon_plc_control {
    background: url("../images/icon_plc_control.png");
}

.tree-list .icon_ammeter {
    background: url("../images/icon_ammeter.png");
}

.tree-list .icon_pole {
    background: url("../images/icon_pole.png");
}

.tree-list .icon_screen {
    background: url("../images/icon_screen.png");
}

.tree-list .icon_collect {
    background: url("../images/icon_collect.png");
}

.tree-list .icon_light_control_hover {
    background: url("../images/icon_light_control_hover.png");
}

.tree-list .icon_led_light_hover {
    background: url("../images/icon_led_light_hover.png")no-repeat center;
}

.tree-list .icon_plc_control_hover {
    background: url("../images/icon_plc_control_hover.png");
}

.tree-list .icon_ammeter_hover {
    background: url("../images/icon_ammeter_hover.png");
}

.tree-list .icon_pole_hover {
    background: url("../images/icon_pole_hover.png");
}

.tree-list .icon_screen_hover {
    background: url("../images/icon_screen_hover.png");
}

.tree-list .icon_collect_hover {
    background: url("../images/icon_collect_hover.png");
}

.tree-list .icon_domain_list {
    background: url("../images/icon_domain_list.png");
}
.tree-list .icon_domain_list_hover {
    background: url("../images/icon_domain_list_hover.png");
}
.tree-list .icon_domain_topology {
    background: url("../images/icon_domain_topology.png");
}
.tree-list .icon_domain_topology_hover {
    background: url("../images/icon_domain_topology_hover.png");
}
.tree-list .icon_single_lamp_control {
    background: url("../images/icon_single_lamp_control.png");
}
.tree-list .icon_single_lamp_control_hover {
    background: url("../images/icon_single_lamp_control_hover.png");
}
.tree-list .icon_time_strategy {
    background: url("../images/icon_time_strategy.png");
}
.tree-list .icon_time_strategy_hover {
    background: url("../images/icon_time_strategy_hover.png");
}
.tree-list .icon_sensor_strategy {
    background: url("../images/icon_sensor_strategy.png");
}
.tree-list .icon_sensor_strategy_hover {
    background: url("../images/icon_sensor_strategy_hover.png");
}
.tree-list .icon_latlng_strategy {
    background: url("../images/icon_latlng_strategy.png");
}
.tree-list .icon_latlng_strategy_hover {
    background: url("../images/icon_latlng_strategy_hover.png");
}

.sidebar-info .icon_verital {
    background: url("../images/icon_verital.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_horizontal {
    background: url("../images/icon_horizontal.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_statistics {
    background: url("../images/icon_statistics.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_map_position {
    background: url("../images/icon_map_position.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_domain_property {
    background: url("../images/icon_domain_property.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_sys_select {
    background: url("../images/icon_sys_select.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_sys_whitelist {
    background: url("../images/icon_sys_whitelist.png");
    background-size: 100% 100%;
}

.sidebar-info .icon_device_operate {
    background-image: url(../images/icon_thumb_up.png);
    background-size: 100% 100%;
}

.icon.icon_pole{
    background: url("../images/smartLight/icon_pole.png");
}
.icon.icon_pole_hover{
    background: url("../images/smartLight/icon_pole_hover.png");
}
.icon.icon_screen{
    background: url("../images/smartLight/icon_screen.png");
}
.icon.icon_screen_hover{
    background: url("../images/smartLight/icon_screen_hover.png");
}
.icon.icon_camera{
    background: url("../images/smartLight/icon_camera.png");
}
.icon.icon_camera_hover{
    background: url("../images/smartLight/icon_camera_hover.png");
}
.icon.icon_lamp{
    background: url("../images/smartLight/icon_lamp.png");
}
.icon.icon_lamp_hover{
    background: url("../images/smartLight/icon_lamp_hover.png");
}
.icon.icon_charge{
    background: url("../images/smartLight/icon_charge.png");
}
.icon.icon_charge_hover{
    background: url("../images/smartLight/icon_charge_hover.png");
}
.icon.icon_collect{
    background: url("../images/smartLight/icon_collect.png");
}
.icon.icon_collect_hover{
    background: url("../images/smartLight/icon_collect_hover.png");
}

/********************lanauage switch styles*********************/
.language-switch{
    float: right;
    position: relative;
    z-index: 10000;

    cursor: pointer;
}

.language-switch .lanauage-icon{
    padding: 20px 20px 19px 20px;
    height:60px;
}

.language-switch .lanauage-icon svg{
    fill:#fff;
}

.language-switch .list-group svg{
    fill:#999;
}

.language-switch svg{
    display: inline-block;
    float: left;
    width: 36px;
    height: 21px;
}

.language-switch .svgOnload{
    position: absolute;
    width: 0;
    height: 0;
}
.language-switch ul{
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0;
    margin-right:-1px;
}

.language-switch ul li{
    width: 120px;
    height: 40px;

    margin-bottom: 0;
    padding: 0;

    line-height: 40px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #f8f8f8;

    font-size: 12px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.language-switch ul li svg{
    margin-top: 11.5px;
    margin-right: 0px;
    margin-left: 13px;
    float: left;
}

.language-switch ul li span{
    display: inline-block;
    height: 40px;
    line-height: 40px;

    float: left;
}

.language-switch ul li:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.language-switch ul li:hover{
    background-color: #e6e6e6;
}

.language-switch ul li:last-child {
    border-bottom: none;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.language-switch .lanauage-switch:hover{
    background: #52586e;
}

.language-switch:hover > ul{
    display: block;
}
/******************* user center styles ***********************/
.user-center {
    float: right;
    position: relative;
    z-index: 10000;
}

.svgOnload{height:0px;width:0px;position:absolute;}

.user-center > .user-icon {
    width:60px;
    height:60px;
    text-align: center;
    border-left: 1px solid #353b4e;
    cursor: pointer;
}

.user-center > .user-icon:hover {background:#52586e;}

.user-center > .user-icon span {
    color:#fff;
    width:24px;
    height:24px;
    display: inline-block;
    top:18px;
    font-size:24px;
}
.user-center > .user-icon span:before {
position:absolute;
top:0px;
left:0px;
height:24px;
width:24px;
}

.user-center > .user-icon > .icon.icon-usr {
    float: left;
    width: 25px;
    height: 25px;
    background-image: url(/images/icon_avatar.png);
    background-size: 100% 100%;
}

.user-center > ul.user-list {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.user-center > ul.user-list > li {
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f8f8f8;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.user-center > ul.user-list > li > svg{
    width:40px;
    height:40px;
    display: inline-block;
    float:left;
    padding:12px 12px;
}

.user-center > ul.user-list > li > span{
    height:40px;
    display: inline-block;
    float:left;
}

.user-center > ul.user-list > li:hover{
    background-color: #e6e6e6;
}

.user-center > ul.user-list > li:last-child {
    border-bottom: none;
}

.user-center > ul.user-list > li > .icon {
    display: inline-block;
    width: 16px;
    height: 17px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.user-center .icon.icon-alter {
  background: url(/svg/icon_alter.svg) no-repeat center top;
  background-size: 16px;
}

.user-center .icon.icon-exit {
  background: url(/svg/icon_exit.svg) no-repeat center top;
  background-size: 16px;
}

.user-center:hover > ul.user-list {
    display: block;
}
/********************* overlayer style ****************************/
.overlayer {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    overflow: auto;
}

.overlayer > div {
    height: 100%;
    padding-top: 150px;
    opacity: 0;
    -webkit-transform: rotateX(-60deg);
    /* Safari 和 Chrome */
    -moz-transform: rotateX(-60deg);
    -ms-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    /* Safari 和 Chrome */
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.overlayer > div > div {
    margin-left: auto;
    margin-right: auto;
}


.overlayer-show {
    visibility: visible;
    opacity: 1;
}

.overlayer-show > div {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-moz-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.overlayer-pulse > div {
    -webkit-animation: pulse .1s;
    -moz-animation: pulse .1s;
    -ms-animation: pulse .1s;
    animation: pulse .1s;
}
/*********************** modal *******************************/
.modal-content {
    width: 100%;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
.modal-title {
    text-align: center;
}

.modal-header {
    border-bottom-color: #909090;
}

.modal-header .close {
    font-size: 43px;
    font-weight: lighter;
    position: absolute;
    right: 15px;
    top: 0px;
    display: block;
    padding-bottom: 27.5px;
    line-height: 1.1;
    height: 55px;
    margin-top:0px;
}
.modal-header .close span {
    display: inline-block;
    height:55px;
}
.modal-dialog {
    width: 100%;
    margin: 0 auto;
}
.modal-footer button,
.modal-footer .btn,
.btn-toolbar .btn-group .btn {
    width: 110px;
    height: 36px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.modal-footer .btn:last-child {
    margin-left: 15px;
}

.modal-footer .btn.btn-primary,
.btn-toolbar .btn-group .btn.btn-primary {
    background: -webkit-gradient(linear, left 0, right 0, from(#00bcff), to(#00d8ff));   /*  for safari */
    background-image: linear-gradient(to right, #00bcff, #00d8ff);
}

.modal-footer .btn.btn-primary:hover,
.btn-toolbar .btn-group .btn.btn-primary:hover {
    border: 0;
    background: -webkit-gradient(linear, left 0, right 0, from(#00b1f0), to(#00cbf0));   /*  for safari */
    background-image: linear-gradient(to right, #00b1f0, #00CAF0);
}

.modal-footer .btn.btn-default,
.btn-toolbar .btn-group .btn.btn-default {
    color: #808080;
}

.modal-footer .btn.btn-default:hover, 
.btn-toolbar .btn-group .btn.btn-default:hover {
    color: #808080;
    background-color: #f7f7f7;
}
/****************** 修改密码弹框 ************************/

.alter-pw-popup {
    width: 460px;
    overflow: hidden;
}

.alter-pw-popup .modal-header {
    height: 55px;
    position:relative;
    font-size: 16px;
    color: #808080;
    border-bottom-color:#919191;    
}

.alter-pw-popup .modal-body {
    padding: 35px 45px 0 0;
    font-size: 14px;
} 

.alter-pw-popup .modal-body .inputCheck .col-sm-8 {
    width: auto;
}

.alter-pw-popup .modal-body .inputCheck .form-control-feedback {
    line-height:40px;
}

 .alter-pw-popup .modal-body .inputCheck  .control-label{
    width: 100px;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    height: 40px;
    line-height: 40px;
    color: #4d4d4d;
    margin-bottom: 0;
}
.alter-pw-popup .modal-body .inputCheck .has-feedback{
    width: 315px;
}

.alter-pw-popup .modal-body .inputCheck .form-control {
    height: 40px;
}

.alter-pw-popup .modal-footer {
    border-top: none;
    background-color: transparent;
    padding-top: 0;
    padding-right: 45px;
    padding-bottom: 25px;
}
.alter-pw-popup .modal-footer .btn-toolbar{
    margin-right: 45px;
}

/****************** 退出弹框 ************************/
.usr-exit {
    width: 320px;
    border-radius: 9px;
    background-color: #fff;
    text-align: center;
    padding: 28px 42px 25px 42px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.usr-exit > div {
    text-align: center;
    font-size: 16px;
    color: #808080;
}

.usr-exit .icon.icon-popup-exit {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(/images/icon_popup_exit.png);
    background-size: 100% 100%;
    margin-bottom: 5px;
}

.usr-exit .btn-toolbar {
    margin-top: 25px;
    margin-left: 0;
}
.usr-exit button {
    width: 110px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.usr-exit .btn-group {
    margin: 0;
}
.usr-exit .btn-group:last-child {
    margin-left: 16px;
}

.usr-exit .icon.icon_popup_delete{
    display: inline-block;
    width: 40px;
    height: 40px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;

    background: url("/images/icon_popup_delete.png");
    background-size: 100% 100%;

}

.icon.icon_calendar{
    display: inline-block;
    width: 15px;
    height: 15px;

    background: url("/images/icon_calendar.png");
    background-size: 100% 100%;

    cursor: pointer;
}

.icon.icon-delete{
    display: inline-block;
    width: 15px;
    height: 15px;
    
    background: url("/images/icon_delete.png");
    background-size: 100% 100%;

    cursor: pointer;
}
.btn-eqpManage{color:#fff;background-color:#00bcff;border-color:#00a9e6}.btn-eqpManage:focus,.btn-eqpManage.focus{color:#fff;background-color:#0096cc;border-color:#004b66}.btn-eqpManage:hover{color:#fff;background-color:#0096cc;border-color:#007ca8}.btn-eqpManage:active,.btn-eqpManage.active,.open>.dropdown-toggle.btn-eqpManage{color:#fff;background-color:#0096cc;border-color:#007ca8}.btn-eqpManage:active:hover,.btn-eqpManage.active:hover,.open>.dropdown-toggle.btn-eqpManage:hover,.btn-eqpManage:active:focus,.btn-eqpManage.active:focus,.open>.dropdown-toggle.btn-eqpManage:focus,.btn-eqpManage:active.focus,.btn-eqpManage.active.focus,.open>.dropdown-toggle.btn-eqpManage.focus{color:#fff;background-color:#007ca8;border-color:#004b66}.btn-eqpManage:active,.btn-eqpManage.active,.open>.dropdown-toggle.btn-eqpManage{background-image:none}.btn-eqpManage.disabled:hover,.btn-eqpManage[disabled]:hover,fieldset[disabled] .btn-eqpManage:hover,.btn-eqpManage.disabled:focus,.btn-eqpManage[disabled]:focus,fieldset[disabled] .btn-eqpManage:focus,.btn-eqpManage.disabled.focus,.btn-eqpManage[disabled].focus,fieldset[disabled] .btn-eqpManage.focus{background-color:#00bcff;border-color:#00a9e6}.btn-eqpManage .badge{color:#00bcff;background-color:#fff}
.btn-eqpOperate{color:#fff;background-color:#eea236;border-color:#ec971e}.btn-eqpOperate:focus,.btn-eqpOperate.focus{color:#fff;background-color:#de8a13;border-color:#80500b}.btn-eqpOperate:hover{color:#fff;background-color:#de8a13;border-color:#bd7610}.btn-eqpOperate:active,.btn-eqpOperate.active,.open>.dropdown-toggle.btn-eqpOperate{color:#fff;background-color:#de8a13;border-color:#bd7610}.btn-eqpOperate:active:hover,.btn-eqpOperate.active:hover,.open>.dropdown-toggle.btn-eqpOperate:hover,.btn-eqpOperate:active:focus,.btn-eqpOperate.active:focus,.open>.dropdown-toggle.btn-eqpOperate:focus,.btn-eqpOperate:active.focus,.btn-eqpOperate.active.focus,.open>.dropdown-toggle.btn-eqpOperate.focus{color:#fff;background-color:#bd7610;border-color:#80500b}.btn-eqpOperate:active,.btn-eqpOperate.active,.open>.dropdown-toggle.btn-eqpOperate{background-image:none}.btn-eqpOperate.disabled:hover,.btn-eqpOperate[disabled]:hover,fieldset[disabled] .btn-eqpOperate:hover,.btn-eqpOperate.disabled:focus,.btn-eqpOperate[disabled]:focus,fieldset[disabled] .btn-eqpOperate:focus,.btn-eqpOperate.disabled.focus,.btn-eqpOperate[disabled].focus,fieldset[disabled] .btn-eqpOperate.focus{background-color:#eea236;border-color:#ec971e}.btn-eqpOperate .badge{color:#eea236;background-color:#fff}
/*
.btn-eqpOperate{color:#fff;background-color:#f3a83d;border-color:#f29d25}.btn-eqpOperate:focus,.btn-eqpOperate.focus{color:#fff;background-color:#ee920f;border-color:#8e5709}.btn-eqpOperate:hover{color:#fff;background-color:#ee920f;border-color:#cd7e0d}.btn-eqpOperate:active,.btn-eqpOperate.active,.open>.dropdown-toggle.btn-eqpOperate{color:#fff;background-color:#ee920f;border-color:#cd7e0d}.btn-eqpOperate:active:hover,.btn-eqpOperate.active:hover,.open>.dropdown-toggle.btn-eqpOperate:hover,.btn-eqpOperate:active:focus,.btn-eqpOperate.active:focus,.open>.dropdown-toggle.btn-eqpOperate:focus,.btn-eqpOperate:active.focus,.btn-eqpOperate.active.focus,.open>.dropdown-toggle.btn-eqpOperate.focus{color:#fff;background-color:#cd7e0d;border-color:#8e5709}.btn-eqpOperate:active,.btn-eqpOperate.active,.open>.dropdown-toggle.btn-eqpOperate{background-image:none}.btn-eqpOperate.disabled:hover,.btn-eqpOperate[disabled]:hover,fieldset[disabled] .btn-eqpOperate:hover,.btn-eqpOperate.disabled:focus,.btn-eqpOperate[disabled]:focus,fieldset[disabled] .btn-eqpOperate:focus,.btn-eqpOperate.disabled.focus,.btn-eqpOperate[disabled].focus,fieldset[disabled] .btn-eqpOperate.focus{background-color:#f3a83d;border-color:#f29d25}.btn-eqpOperate .badge{color:#f3a83d;background-color:#fff}
.btn-eqpOperate{color:#fff;background-color:#2fb2ff;border-color:#16a9ff}.btn-eqpOperate:focus,.btn-eqpOperate.focus{color:#fff;background-color:#009efb;border-color:#005e95}.btn-eqpOperate:hover{color:#fff;background-color:#009efb;border-color:#0088d7}.btn-eqpOperate:active,.btn-eqpOperate.active,.open>.dropdown-toggle.btn-eqpOperate{color:#fff;background-color:#009efb;border-color:#0088d7}.btn-eqpOperate:active:hover,.btn-eqpOperate.active:hover,.open>.dropdown-toggle.btn-eqpOperate:hover,.btn-eqpOperate:active:focus,.btn-eqpOperate.active:focus,.open>.dropdown-toggle.btn-eqpOperate:focus,.btn-eqpOperate:active.focus,.btn-eqpOperate.active.focus,.open>.dropdown-toggle.btn-eqpOperate.focus{color:#fff;background-color:#0088d7;border-color:#005e95}.btn-eqpOperate:active,.btn-eqpOperate.active,.open>.dropdown-toggle.btn-eqpOperate{background-image:none}.btn-eqpOperate.disabled:hover,.btn-eqpOperate[disabled]:hover,fieldset[disabled] .btn-eqpOperate:hover,.btn-eqpOperate.disabled:focus,.btn-eqpOperate[disabled]:focus,fieldset[disabled] .btn-eqpOperate:focus,.btn-eqpOperate.disabled.focus,.btn-eqpOperate[disabled].focus,fieldset[disabled] .btn-eqpOperate.focus{background-color:#2fb2ff;border-color:#16a9ff}.btn-eqpOperate .badge{color:#2fb2ff;background-color:#fff}
.btn-sysManage{color:#fff;background-color:#272c3c;border-color:#1d212d}.btn-sysManage:focus,.btn-sysManage.focus{color:#fff;background-color:#13151d;border-color:#000}.btn-sysManage:hover{color:#fff;background-color:#13151d;border-color:#050507}.btn-sysManage:active,.btn-sysManage.active,.open>.dropdown-toggle.btn-sysManage{color:#fff;background-color:#13151d;border-color:#050507}.btn-sysManage:active:hover,.btn-sysManage.active:hover,.open>.dropdown-toggle.btn-sysManage:hover,.btn-sysManage:active:focus,.btn-sysManage.active:focus,.open>.dropdown-toggle.btn-sysManage:focus,.btn-sysManage:active.focus,.btn-sysManage.active.focus,.open>.dropdown-toggle.btn-sysManage.focus{color:#fff;background-color:#050507;border-color:#000}.btn-sysManage:active,.btn-sysManage.active,.open>.dropdown-toggle.btn-sysManage{background-image:none}.btn-sysManage.disabled:hover,.btn-sysManage[disabled]:hover,fieldset[disabled] .btn-sysManage:hover,.btn-sysManage.disabled:focus,.btn-sysManage[disabled]:focus,fieldset[disabled] .btn-sysManage:focus,.btn-sysManage.disabled.focus,.btn-sysManage[disabled].focus,fieldset[disabled] .btn-sysManage.focus{background-color:#272c3c;border-color:#1d212d}.btn-sysManage .badge{color:#272c3c;background-color:#fff}
.btn-eqpManage{color:#fff;background-color:#5078ff;border-color:#3664ff}.btn-eqpManage:focus,.btn-eqpManage.focus{color:#fff;background-color:#1d51ff;border-color:#002ab6}.btn-eqpManage:hover{color:#fff;background-color:#1d51ff;border-color:#0039f8}.btn-eqpManage:active,.btn-eqpManage.active,.open>.dropdown-toggle.btn-eqpManage{color:#fff;background-color:#1d51ff;border-color:#0039f8}.btn-eqpManage:active:hover,.btn-eqpManage.active:hover,.open>.dropdown-toggle.btn-eqpManage:hover,.btn-eqpManage:active:focus,.btn-eqpManage.active:focus,.open>.dropdown-toggle.btn-eqpManage:focus,.btn-eqpManage:active.focus,.btn-eqpManage.active.focus,.open>.dropdown-toggle.btn-eqpManage.focus{color:#fff;background-color:#0039f8;border-color:#002ab6}.btn-eqpManage:active,.btn-eqpManage.active,.open>.dropdown-toggle.btn-eqpManage{background-image:none}.btn-eqpManage.disabled:hover,.btn-eqpManage[disabled]:hover,fieldset[disabled] .btn-eqpManage:hover,.btn-eqpManage.disabled:focus,.btn-eqpManage[disabled]:focus,fieldset[disabled] .btn-eqpManage:focus,.btn-eqpManage.disabled.focus,.btn-eqpManage[disabled].focus,fieldset[disabled] .btn-eqpManage.focus{background-color:#5078ff;border-color:#3664ff}.btn-eqpManage .badge{color:#5078ff;background-color:#fff}
.btn-eqpManage{color:#fff;background-color:#337ab7;border-color:#2d6da3}.btn-eqpManage:focus,.btn-eqpManage.focus{color:#fff;background-color:#285f8f;border-color:#122a3f}.btn-eqpManage:hover{color:#fff;background-color:#285f8f;border-color:#204d73}.btn-eqpManage:active,.btn-eqpManage.active,.open>.dropdown-toggle.btn-eqpManage{color:#fff;background-color:#285f8f;border-color:#204d73}.btn-eqpManage:active:hover,.btn-eqpManage.active:hover,.open>.dropdown-toggle.btn-eqpManage:hover,.btn-eqpManage:active:focus,.btn-eqpManage.active:focus,.open>.dropdown-toggle.btn-eqpManage:focus,.btn-eqpManage:active.focus,.btn-eqpManage.active.focus,.open>.dropdown-toggle.btn-eqpManage.focus{color:#fff;background-color:#204d73;border-color:#122a3f}.btn-eqpManage:active,.btn-eqpManage.active,.open>.dropdown-toggle.btn-eqpManage{background-image:none}.btn-eqpManage.disabled:hover,.btn-eqpManage[disabled]:hover,fieldset[disabled] .btn-eqpManage:hover,.btn-eqpManage.disabled:focus,.btn-eqpManage[disabled]:focus,fieldset[disabled] .btn-eqpManage:focus,.btn-eqpManage.disabled.focus,.btn-eqpManage[disabled].focus,fieldset[disabled] .btn-eqpManage.focus{background-color:#337ab7;border-color:#2d6da3}.btn-eqpManage .badge{color:#337ab7;background-color:#fff}*/
.btn-guest{color:#fff;background-color:#13ce66;border-color:#11b75a}.btn-guest:focus,.btn-guest.focus{color:#fff;background-color:#0f9f4f;border-color:#064221}.btn-guest:hover{color:#fff;background-color:#0f9f4f;border-color:#0c7f3f}.btn-guest:active,.btn-guest.active,.open>.dropdown-toggle.btn-guest{color:#fff;background-color:#0f9f4f;border-color:#0c7f3f}.btn-guest:active:hover,.btn-guest.active:hover,.open>.dropdown-toggle.btn-guest:hover,.btn-guest:active:focus,.btn-guest.active:focus,.open>.dropdown-toggle.btn-guest:focus,.btn-guest:active.focus,.btn-guest.active.focus,.open>.dropdown-toggle.btn-guest.focus{color:#fff;background-color:#0c7f3f;border-color:#064221}.btn-guest:active,.btn-guest.active,.open>.dropdown-toggle.btn-guest{background-image:none}.btn-guest.disabled:hover,.btn-guest[disabled]:hover,fieldset[disabled] .btn-guest:hover,.btn-guest.disabled:focus,.btn-guest[disabled]:focus,fieldset[disabled] .btn-guest:focus,.btn-guest.disabled.focus,.btn-guest[disabled].focus,fieldset[disabled] .btn-guest.focus{background-color:#13ce66;border-color:#11b75a}.btn-guest .badge{color:#13ce66;background-color:#fff}

.btn-sysManage{color:#fff;background-color:#4a5064;border-color:#3f4455}.btn-sysManage:focus,.btn-sysManage.focus{color:#fff;background-color:#343947;border-color:#090a0c}.btn-sysManage:hover{color:#fff;background-color:#343947;border-color:#252832}.btn-sysManage:active,.btn-sysManage.active,.open>.dropdown-toggle.btn-sysManage{color:#fff;background-color:#343947;border-color:#252832}.btn-sysManage:active:hover,.btn-sysManage.active:hover,.open>.dropdown-toggle.btn-sysManage:hover,.btn-sysManage:active:focus,.btn-sysManage.active:focus,.open>.dropdown-toggle.btn-sysManage:focus,.btn-sysManage:active.focus,.btn-sysManage.active.focus,.open>.dropdown-toggle.btn-sysManage.focus{color:#fff;background-color:#252832;border-color:#090a0c}.btn-sysManage:active,.btn-sysManage.active,.open>.dropdown-toggle.btn-sysManage{background-image:none}.btn-sysManage.disabled:hover,.btn-sysManage[disabled]:hover,fieldset[disabled] .btn-sysManage:hover,.btn-sysManage.disabled:focus,.btn-sysManage[disabled]:focus,fieldset[disabled] .btn-sysManage:focus,.btn-sysManage.disabled.focus,.btn-sysManage[disabled].focus,fieldset[disabled] .btn-sysManage.focus{background-color:#4a5064;border-color:#3f4455}.btn-sysManage .badge{color:#4a5064;background-color:#fff}

.inputCheck{
    float: left;
}

.inputCheck::before,
.inputCheck::after {
    display: table;
    content: " ";
    clear: both;
}

.inputCheck .has-feedback {
    padding-left:15px;
    width:240px;
    float: left;
}

.inputCheck .reminder{
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #ff5c69;
    padding-left: 14px;
}

.inputCheck .control-label{
    text-align: right;
    padding-right: 0;
    height: 34px;
    line-height: 34px;
    color: #4d4d4d;
    font-size: 14px;
    width: 100px;
    float: left;
}