.timeTable,.latlng{
  .content {
    .heading{
      height: 70px;
      background: #fff;

      .select {
        width: 160px;
        height: 30px;
        margin-left: 20px;
        //padding-left: 15px;
      }

      .searchText{
        height: 30px;

        margin: 20px 25px 20px 20px;
        > input[type='search'] {
          padding-right: 16px;
          padding-left: 15px;
        }
      }

      button{
        height: 30px;
        //margin: 20px;
        padding: 4px 12px;

        border: 0;
        color: #fff;
        background: #00bcff;
      }
    }

    .table-container{
      //overflow-x: auto;

      margin: 20px;
      padding: 20px;

      background: #fff;
      border: solid 1px #e6e6e6;

      .table{
        min-width: 520px;
      }

      .page{
        margin-bottom: 17px;
        margin-left: 45%;
      }
    }
  }
}

.time-strategy-popup{
  width: 700px;
  .modal-body{
    height: 400px;

    overflow-x: hidden;
    overflow-y: auto;

    padding: 20px;
    .form-group{
      .prompt{
        position: absolute;
        margin-left: 15px;

        font-size: 10px;
        color: #ff5c68;
      }
    }
  }

  .form-group .control-label{
    text-align: right;

    padding-top: 6px;
    padding-right: 0;
    height: 40px;
    color: #4d4d4d;
  }

  .date-custom-input{
    width: 194.33px;
    .icon{
      position: absolute;
      top: 9px;
      right: 9px;
    }
  }

  .work-day, .chart, .set-light{
    .control-label{
      width: 18%;
    }
  }

  .chart{
    .col-sm-9{
      margin-left: 15px;
    }

    .time-strategy-chart{
      .y.axis{
        path{
          display: none;
        }

        g{
          line{
            stroke-width: 1px;
            stroke: #e6e6e6;
          }
        }
      }

      .node{
        .last{
          text-anchor: end;
        }
      }

      .area-group{
        .area{
          fill: #ff5c68;
          fill-opacity: 0.1;
        }
      }


      .line-group{
        .path-line{
          fill: none;
          stroke-width: 3px;
          stroke: #ff5c68;
        }

        circle{
          fill: #ff5c68;

          title{
            background: linear-gradient(#333744, #4a5064);
            color: #ffffff;

            font-size: 12px;
          }
        }
      }
    }
  }

  .set-light{
    .right{
      margin-left: 15px;

      padding-top: 20px;
      padding-left: 20px;
      padding-right: 30px;

      background: #fff;
      border: solid 1px #e6e6e6;

      .form-group{
        margin-right: 0;
        margin-left: 0;
        button{
          float: left;
          margin-right: 20px;

          background: #00d6ff;
          color: #fff;
        }

        .select-container{
          padding: 0;
          margin-right: 20px;
        }
      }

      .list-group{
        margin-left: 100px;
        .row{
          margin-right: 0;
          margin-left: 0;

          margin-bottom: 20px;
          .time-point{
            margin-left: 7px;
          }

          .light{
            margin-left: 15px;
          }
        }
      }
    }
  }
}

.sensor-strategy {
  > .content-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 70px;
      background-color: #fff;
      > .searchText {
          height: 30px;
          margin-left: 20px;
          > input[type='search'] {
            padding-left: 15px;
            padding-right: 16px;
          }
      }
      > .btn.btn-primary {
          height: 30px;
          padding: 4px 12px; 
          margin-left: 25px;
          border: 0;
          background: #00bcff;
          color: #fff;
      }
  }
  > .content-body {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
  }
}

.sensor-strategy-popup {
  width: 700px;
  .form-group {
    margin-bottom: 0px;
    vertical-align: top;
    overflow: hidden;
    > .control-label {
      float: left;
      width: 102px;
      text-align: right;
      line-height: 40px;
      margin-right: 15px;
    }
    > .form-group-right {
      float: left;
      width: 533px;
      padding-left: 0;
      > .form-control {
        height: 40px;
      }
      > span {
        display: inline-block;
        line-height: 30px;
        padding-left: 15px;
        color: #ff5c68;
        font-size: 10px;
      }

      &.lightness {
        padding: 20px 0px 20px 20px;
        border: 1px solid #e9e9e9;
        > .btn.btn-primary {
          width: 70px;
          height: 30px;
          text-align: center;
          vertical-align: top;
        }
        .lightness-right {
          display: inline-block;
          margin-left: 20px;
          > div {
            display: inline-block;
            overflow: hidden;
            > input,
            > select {
              float: left;
              width: 170px;
              padding-left: 10px;
            }
            > input {
              margin-right: 20px;
              padding-left: 15px;
            }
          }
          > ul {
            > li {
              height: 30px;
              line-height: 30px;
              > .sensor-param,
              > .sensor-other {
                display: inline-block;
                width: 170px;
                padding-left: 15px;
                margin-right: 20px;
              }
              .glyphicon-trash {
                color: #ff5c68;
              }
            }
          }
        }
      }
    }
    &.chart {
      > .form-group-right {
        height: 160px;
        // border: 1px solid #ccc;
        padding-right: 20px;
        margin-bottom: 30px;
      }
    }
  }
  .inline-group {
    > div.form-group {
      display: inline-block;
      width: 50%;
      > .form-group-right {
        width: 200px;
        padding-right: 0;
      }

      &:last-child {
        > .control-label {
          width: 100px
        }
      }
    }
  }
  .modal-body {
    max-height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: auto;
  }
  .modal-footer {
    padding-right: 35px;
    border-top: none;
    padding-bottom: 20px;
  }
}