@import url(./sideBarInfo.less);

.systemOperation-faultManagement{
  .content {
    min-width: 1228px;
    .heading{
      height: 70px;
      background: #fff;

      .select {
        width: 120px;
        height: 30px;
        margin-left: 20px;
      }

      .datePicker{
        margin-left: 20px;
        .ant-calendar-picker input {
            height: 30px;
            padding: 6px;
            font-size: 14px;
            color: #4d4d4d;
        }
        >span{
            margin-right:8px;
        }
      }
      .button-group{
        margin-left: auto;
        button{
            height: 30px;
            padding: 4px 12px;
            border: 0;
            color: #fff;
            margin-right: 20px;
          }
      }
    }

    .table-container{
      transition: margin-right .3s;
      margin: 20px 320px 20px 20px;
      padding: 20px;
      background: #fff;
      border: solid 1px #e6e6e6;

      .table{
        min-width: 520px;
      }

      .page{
        text-align:center;
      }
      .page li{
        display:inline-block;
      }
    }

    &.collapsed {
        .table-container{
            margin-right: 80px;
        }
    }
    
    .sidebar-info{
        .statistical-info{
          > .panel-heading.collapsed>.icon_collapse{
            transform: rotate(180deg);
          }
            >.panel-body{
              height: 150px;
              .left{
                float: left;
                width: 50%;
                height: 100%;
                >.circle{
                  height: 100%;
                }
              }
              .right{
                float: left;
                width: 50%;
                padding-left: 10px;
                .count{
                  width: 100%;
                  padding-bottom: 10px;
                  overflow: hidden;
                  text-overflow:ellipsis;
                  white-space: nowrap;
                  .dot{
                    float: left;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin:6px 6px 0 0;
                  }
                }
                .deadly .dot{
                  background-color: #F83D59
                }
                .serious .dot{
                  background-color: #FA919C
                }
                .general .dot{
                  background-color: #FA9E17
                }
                .hint .dot{
                  background-color: #FBEF35
                }
              }
            }
        }
        .map-position{
            top: 223px;
        }
        &.infoCollapse .map-position{
            top:73px;
        }
    }
  }
  .usr-exit{
    .icon_fault{
      font-size:40px;
      margin-bottom: 5px;
      color: #F95B67;
    }
  }
}