.timeTable{
  .content {
    .heading{
      height: 70px;
      background: #fff;

      .select {
        width: 160px;
        height: 30px;
        margin-left: 20px;
        //padding-left: 15px;
      }

      .searchText{
        height: 30px;

        margin: 20px 25px 20px 20px;
        > input[type='search'] {
          padding-right: 16px;
          padding-left: 15px;
        }
      }

      button{
        height: 30px;
        //margin: 20px;
        padding: 4px 12px;

        border: 0;
        color: #fff;
        background: #00bcff;
      }
    }

    .table-container{
      //overflow-x: auto;

      margin: 20px;
      padding: 20px;

      background: #fff;
      border: solid 1px #e6e6e6;

      .table{
        min-width: 1186px;
      }

      .page{
        margin-bottom: 17px;
        margin-left: 45%;
      }
    }
  }
}