.table{
  font-size: 14px;
  thead{
    color: #333744;
    tr{
      height: 38px;
      th{
        border-bottom: solid 1px #ddd;
      }
    }
  }

  tbody{
    color: #808080;
    tr{
      height: 41px;
      td{
        border-top: 0;
        border-bottom: solid 1px #ddd;
        // padding:10px 8px ;
        vertical-align: middle;

        &.edit{
          width: 180px;
        }
      }
    }

    .update, .del, .domain{
      margin-right: 10px;
      color: #808080;
    }
    .del{
      color: #fa6262;
    }
    .icon-table-edit{
      background-image: url(/images/icon_edit.png);
      background-size: 100% 100%;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: sub;
    }

    .icon-table-delete{
      background-image: url(/images/icon_delete.png);
      background-size: 100% 100%;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: sub;
    }

    .icon-domain-edit{
      background-image: url(/images/icon_domain_edit.png);
      background-size: 100% 100%;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: sub;
    }

    .button-icon{
      padding:5px;
      text-align: right;
    }
    tr:last-child{
      //td{
      //  border-bottom: solid 1px #ddd;
      //}
    }
  }
}

.table {
  min-width: 745px;
}

.table-responsive {
    min-width:520px;
    margin-bottom:15px;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
    > .table {
      margin-bottom: 20px;
    }
  }
}