.table{
  font-size: 14px;
  thead{
    color: #666;
    tr{
      height: 38px;
      th{
        border-bottom: solid 1px #ddd;
      }
    }
  }

  tbody{
    color: #808080;
    tr{
      height: 41px;
      td{
        border-top: 0;
        border-bottom: solid 1px #ddd;
        // padding:10px 8px ;
        vertical-align: middle;
        >.glyphicon{
          width:25px;
          cursor: pointer;
        }
        &.edit{
          width: 280px;
          padding:5px;
          text-align: right;
          .btn{
            cursor:pointer;
            svg{
            width:20px;
            height:20px;
            padding-top:2px;
          }
          .logo_domain,.logo_update,.logo_module{
            fill:#8a8a8a;
          }
          .logo_del{
            fill:#fa6262;
          }
          .icon_domain,.icon_edit,.icon_module{
            color:#8a8a8a;
            display:inline-block;
            float:right;
            padding:3px 4px 0px 4px;
            font-size:14px;
          }
          .icon_delete{
            color:#fa6262;
            display:inline-block;
            float:right;
            padding:2px 4px 0px 3px;
            font-size:16px;
          }
          }
          .btn:hover .update{color:#4a5064;}
          .btn:hover .icon_edit{color:#4a5064;}
          .btn:hover .del{color:red;}
          .btn:hover .icon_delete{color:red;}
        }
      }
    }

    .update, .del, .domain, .module{
      color: #808080;
      float:left;
    }
    .del{
      color: #fa6262;
      
    }
    svg{
      float:left;
      display:inline-block
    }
    .icon-table-edit{
      background: url(/svg/icon_edit.svg)no-repeat top left;
      background-size: 15px;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: sub;
    }

    .icon-table-delete{
      background: url(/svg/icon_delete.svg)no-repeat top -1px left -1px;
      background-size: 17px;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: sub;
    }

    .icon-domain-edit{
      background: url(/svg/icon_domain_edit.svg)no-repeat top -2px left -2px;
      background-size: 26px;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: sub;
    }

    .button-icon,.edit{
      padding:5px;
      padding-right: 15px;
      text-align: right;
      .btn{
        cursor:pointer;
        svg{
            width:20px;
            height:20px;
            padding-top:2px;
          }
          .logo_domain,.logo_update,.logo_module{
            fill:#8a8a8a;
          }
          .logo_del{
            fill:#fa6262;
          }
          .icon_domain,.icon_edit,.icon_module{
            color:#8a8a8a;
            display:inline-block;
            float:right;
            padding:3px 4px 0px 4px;
            font-size:14px;
          }
          .icon_delete{
            display:inline-block;
            float:right;
            padding:2px 4px 0px 3px;
            font-size:14px;
            &:before{
              color:#fa6262;
            }
          }
      }

      .btn:hover .domain,.btn:hover .update,.btn:hover .module{color:#4a5064;}
      .btn:hover .logo_domain,.btn:hover .logo_update,.btn:hover .logo_module{fill:#4a5064;}
      .btn:hover .del{color:red;}
      .btn:hover .logo_del{fill:red;}
      .btn:hover .icon_edit,.btn:hover .icon_domain,.btn:hover .icon_module{color:#4a5064;}
      .btn:hover .icon_delete{color:red;}
    }
    tr:last-child{
      //td{
      //  border-bottom: solid 1px #ddd;
      //}
    }
  }
}

.table {
  min-width: 745px;
}

.table-responsive {
    min-width:520px;
    margin-bottom:15px;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
    > .table {
      margin-bottom: 20px;
    }
  }
}