.tree-ul{
    padding-left: 14px;
    color: #808080;
    font-size: 14px;
    .tree-li{
        .tree-node{
            line-height: 30px;
            .tree-node-info{
                width: 80px;            
                float: left;
                cursor: pointer;
                &:hover{
                    background-color: #e5e5e5;
                }
                >span:last-of-type{
                    margin-left: 5px;
                }
            }
            .tree-node-add{
                float: right;
                color: #00bcff;
                
            }
            >.glyphicon{
                color: #808080;
                padding-top: 6px;
                cursor: pointer;
            }
        }
    }
}
.glyphicon{top:2px;height:16px;}