@default-background-color: #495264;
@default-border-color: #D6DBDF;

#virtualClock {
  overflow-x: hidden;
  overflow-y: auto;
  height: 500px;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
  > div:nth-child(4), >div:nth-child(6), >div:nth-child(8){
    border-bottom: 1px solid @default-border-color;
  };

  >div:nth-child(5), > div:nth-child(7), >div:nth-child(9){
    padding-top: 20px;
  }

  footer{
    text-align: right;
    border-top: 1px solid @default-border-color;
    padding-top: 20px;
    #reset-btn {
      margin-right: 20px;
      border-color: @default-background-color;
      background-color: @default-background-color;
    }
  }

  .bg_color-pick,.scale_color-pick,.split_color-pick,.date_color-pick,.weekend_color-pick,.hour_color-pick,.minute_color-pick,.second_color-pick{
    position: absolute;
    top:160px;
    right: 133px;
  }
  .scale_color-pick{
    top:400px;
  }
  .split_color-pick{
    top:400px;
  }
  .hour_color-pick,.minute_color-pick,.second_color-pick{
    top:420px;
  }
  .hour_color-pick{
    right: 560px;
  }
  .minute_color-pick{
    right: 420px;
  }
  .second_color-pick{
    right: 280px;
  }
}
